@import "../variables";
@import "../base";
@import "../swiper";
@import "../common/top";
@import "../common/footer";

.area{
    width: 1080px;
    display: block;
    margin: 0 auto;
}

.swiper-area {
    padding: 40px 0;
    background-color: #F3F6F7;

    .swiper-div {
        height: 418px;
        overflow: hidden;
    }
}

.live-list-view{
    padding: 30px 0;
}

.live-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    .live-list-item{
        width: 20%;
        min-width: 20%;
        max-width: 20%;
        padding: 5px;

        .list-item-bg{
            background-color: #fff;
            display: block;
            border-radius: 5px;
        }

        .thumb{
            display: block;
            padding-top: 80%;
            border-radius: 5px;
            position: relative;

            img{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 5px;
            }
        }

        .meta{
            padding: 7px;
            display: block;

            .title{
                font-size: 14px;
                line-height: 18px;
                overflow: hidden;
                height: 18px;
            }
        }
    }
}


.live-detail{
    background-color: #F3F6F7;
    padding: 30px 0;
}

.live-main{
    width: 815px;
    float: left;
    margin-right: 30px;
    background-color: #fff;
    border-radius: 3px;

    .live-main-content{
        padding: 30px;
        display: block;
    }

    .live-player{
        display: block;
        height: 425px;
        background-color: #000;
    }

    .live-title{
        font-size: 16px;
        line-height: 32px;
        display: block;
    }

    .live-section-title{
        display: flex;
        padding: 3px 10px;
        line-height: 1;
        border-left: 3px #59B7D7 solid;
        margin: 20px 0;

        p{
            font-size: 16px;
            line-height: 1;
        }
    }
}

.live-right{
    overflow: hidden;
    flex: 1;
}
