@import "../base";
@import "../common/top";
@import "../common/footer";

.global-top {
    .top-content {
        width: 1180px;
    }
}

.area {
    display: block;
    margin: 0 auto;
    width: 1180px;
}

.user {
    display: block;
    padding: 30px 0;
    background-color: #F3F6F7;

    &-content {
        background-color: #ffffff;
        display: flex;
    }
}

.sidebar {
    width: 160px;
    background: #EAEDF1;
    float: left;
    padding: 10px 0;

    &-content {
        display: block;
        padding: 0;
        height: 100%;
        position: relative;
        overflow: hidden;

        .scroll {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: -20px;
            bottom: 0;
            overflow: auto;
        }

        dl {
            display: block;

            dd {
                font-size: 12px;
                font-weight: 500;

                a {
                    display: block;
                    padding: 8px 32px;
                    font-size: 14px;

                    &:hover {
                        color: #000;
                    }
                }

                .iconfont {
                    display: inline-block;
                    vertical-align: -1px;
                    font-size: 16px;
                    margin-right: 3px;
                }
            }

            dt {
                ul {
                    li {
                        display: block;

                        a {
                            display: block;
                            padding: 7px 20px 7px 51px;
                            font-size: 12px;

                            &:hover {
                                background: #e2e2e2;
                                color: #000;
                            }

                            &.router-link-active {
                                background-color: #0097d0;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


.mainframe {
    flex: 1;

    &-content {
        padding: 10px 20px;
        overflow: hidden;
        min-height: 500px;

        &::before {
            clear: none;
            content: none;
        }

        &::after {
            clear: both;
            content: " ";
            display: block;
        }

        .content-block {
            display: block;
        }

        .section, section {
            margin-bottom: 10px;
            clear: both;
        }

        .table-edit-header {
            position: relative;
            display: block;
            margin-bottom: 10px;

            .buttons-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
            }

            .button-item {
                margin-left: 5px;
            }

            .table-edit-title {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .table-edit-footer {
            display: flex;
            margin-top: 20px;
            align-items: center;
        }
    }
}

.console-title {
    display: block;
    padding: 2px 0 13px;
    border-bottom: 1px #CCC solid;
    margin-bottom: 20px;

    h2 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 5px;
        border-left: 3px #86B6E2 solid;
        padding-left: 6px;
        float: left;
        line-height: 1;
        padding-top: 2px;
    }
}

.edit-title {
    background-color: #F7F7F7;
    padding: 0 20px;
    display: flex;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;

    span {
        font-size: 14px;
    }
}

.avatar-div {
    width: 240px;
    float: left;
    margin-right: 50px;

    .avatar {
        width: 240px;
        height: 240px;
        margin: 0 auto;
        display: block;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .avatar-content {
        margin-top: 20px;
        display: block;
        text-align: center;
        color: #00BAAA;
        font-size: 14px;
        position: relative;
    }
}

.wellcome-div {
    display: block;
    height: 30px;
    position: relative;

    .txt {
        margin-left: 140px;
        font-size: 12px;
        color: #333;
        line-height: 30px;
    }

    .btn-recharge {
        position: absolute;
        right: 0;
        bottom: 5px;
        height: 28px;
        line-height: 28px;
    }
}

.mcenter-content-div {
    display: block;
    border: 1px #DDD solid;
    margin-bottom: 20px;

    .headimg {
        position: relative;
        display: block;
        width: 140px;

        .avatar {
            padding: 10px;
            border: 1px #DDD solid;
            background-color: #fff;
            width: 100px;
            height: 100px;
            left: 20px;
            top: -20px;
            position: absolute;

            img {
                display: block;
                width: 80px;
                height: 80px;
            }

            .a-setting {
                display: block;
                margin-top: 15px;
                text-align: center;
                font-size: 12px;
                color: #0090CB;

            }
        }
    }

    .user-account {
        flex: 1;

        .row {
            font-size: 12px;
            display: block;
            border-bottom: 1px #DDD solid;

            .item {
                padding: 10px 0;
                margin-right: 20px;
                float: left;

                i {
                    font-style: normal;
                    color: #F00;
                }

                .icon {
                    width: auto;
                    height: auto;
                    font-size: 12px;
                    margin-right: 2px;
                }
            }
        }
    }

    .console-title {
        display: block;
        padding: 10px 20px;

        strong {
            border-left: 3px #70B46E solid;
            padding-left: 5px;
            display: inline-block;
            line-height: 1.1;
        }
    }

}

.mcenter-task-div {
    display: block;
    margin-left: -20px;
}

.mcenter-task-box {
    width: 20%;
    float: left;
    color: #fff;
    margin-bottom: 20px;
}

.mcenter-task-box .box {
    padding: 25px 15px;
    display: block;
    margin-left: 20px;
}

.mcenter-task-box .icon {
    font-size: 46px;
    width: auto;
    height: auto;
    margin-right: 5px;
    float: left;
}

.mcenter-task-box .con {
    overflow: hidden;
}

.mcenter-task-box .con h3 {
    font-size: 16px;
    padding-top: 5px;
}

.mcenter-task-box .con p {
    display: block;
    margin-top: 3px;
    font-size: 10px;
}

.transaction-filter {
    display: block;

    &-row {
        display: flex;
        padding: 5px;
        font-size: 12px;
        align-items: center;

        &-label {
            width: 60px;
            float: left;
            padding-right: 5px;
            color: #777;
            line-height: 24px;
        }

        &-content {
            display: flex;
            align-items: center;
            flex: 1;

            a {
                display: inline-block;
                margin-right: 5px;
                padding: 0 10px;
                border-radius: 3px;
                height: 24px;
                line-height: 24px;

                &:hover {
                    background-color: #f0f0f0;
                }

                &.cur {
                    background-color: #409EFF;
                    color: #fff;
                }
            }
        }
    }
}

.transaction-table {
    width: 100%;
    border-collapse: inherit;
    border-spacing: 0;

    thead {
        th {
            border-bottom: 1px #CCC solid;
            text-align: left;
            background-color: #F5F6FA;
        }

        .first {
            padding-left: 5px;
        }

        .last {
            text-align: right;
            padding-right: 5px;
        }
    }

    tbody {
        td {
            border-bottom: 1px #CCC solid;

            h3 {
                font-size: 12px;
                font-weight: 400;
            }

            p {
                display: block;
                margin-top: 5px;
                color: #777;
                font-size: 12px;
            }

            .date {
                font-size: 13px;
                font-weight: bold;
                color: #666;
            }
        }

        .amount {
            text-align: left;
            width: 100px;

            span {
                font-weight: 500;
                font-size: 14px;
            }
        }
    }

    td, th {
        padding: 10px 0;
        font-size: 12px;
    }
}

@import "../admin/order";
@import "../common/footer";
@import "refund";
