/*百分比宽度*/
.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-33 {
    width: 33.33% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-66 {
    width: 66.66% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

/*百分比高度*/
.h-5 {
    height: 5% !important;
}

.h-10 {
    height: 10% !important;
}

.h-15 {
    height: 15% !important;
}

.h-25 {
    height: 25% !important;
}

.h-30 {
    height: 30% !important;
}

.h-35 {
    height: 35% !important;
}

.h-40 {
    height: 40% !important;
}

.h-40 {
    height: 40% !important;
}

.h-50 {
    height: 50% !important;
}

.h-60 {
    height: 60% !important;
}

.h-70 {
    height: 70% !important;
}

.h-80 {
    height: 80% !important;
}

.h-90 {
    height: 90% !important;
}

.h-100 {
    height: 100% !important;
}

/*像素宽度*/
.w10 {
    width: 10px !important;
    max-width: 10px !important;
}

.w20 {
    width: 20px !important;
    max-width: 20px !important;
}

.w30 {
    width: 30px !important;
    max-width: 30px !important;
}

.w40 {
    width: 40px !important;
    max-width: 40px !important;
}

.w50 {
    width: 50px !important;
    max-width: 50px !important;
}

.w60 {
    width: 60px !important;
    max-width: 60px !important;
}

.w70 {
    width: 70px !important;
    max-width: 70px !important;
}

.w80 {
    width: 80px !important;
    max-width: 80px !important;
}

.w90 {
    width: 90px !important;
    max-width: 90px !important;
}

.w100 {
    width: 100px !important;
    max-width: 100px !important;
}

.w120 {
    width: 120px !important;
    max-width: 120px !important;
}

.w150 {
    width: 150px !important;
    max-width: 150px !important;
}

.w200 {
    width: 200px !important;
    max-width: 200px !important;
}

.w300 {
    width: 300px !important;
    max-width: 300px !important;
}

.w400 {
    width: 400px !important;
    max-width: 400px !important;
}

.w500 {
    width: 500px !important;
    max-width: 500px !important;
}

.w600 {
    width: 600px !important;
    max-width: 600px !important;
}

.w700 {
    width: 700px !important;
    max-width: 700px !important;
}

.w800 {
    width: 800px !important;
    max-width: 800px !important;
}

.w900 {
    width: 900px !important;
    max-width: 900px !important;
}

.w1000 {
    width: 1000px !important;
    max-width: 1000px !important;
}

.w1100 {
    width: 1100px !important;
    max-width: 1100px !important;
}

.w1200 {
    width: 1200px !important;
    max-width: 1200px !important;
}

.width-auto {
    width: auto !important;
}

/*以像素为单位的高度*/
.h10 {
    height: 10px !important;
}

.h20 {
    height: 20px !important;
}

.h30 {
    height: 30px !important;
}

.h40 {
    height: 40px !important;
}

.h50 {
    height: 50px !important;
}

.h60 {
    height: 60px !important;
}

.h70 {
    height: 70px !important;
}

.h80 {
    height: 80px !important;
}

.h90 {
    height: 90px !important;
}

.h100 {
    height: 100px !important;
}

.h110 {
    height: 110px !important;
}

.h120 {
    height: 120px !important;
}

.h150 {
    height: 150px !important;
}

.h200 {
    height: 200px !important;
}

.h300 {
    height: 300px !important;
}

.h400 {
    height: 400px !important;
}

.h500 {
    height: 500px !important;
}

.h600 {
    height: 600px !important;
}

.h700 {
    height: 700px !important;
}

.h800 {
    height: 800px !important;
}

.h900 {
    height: 900px !important;
}

.h1000 {
    height: 1000px !important;
}

.h1100 {
    height: 1100px !important;
}

.h1200 {
    height: 1200px !important;
}

.height-auto{
    height: auto !important;
}
