/node_modules
/public/hot
/public/storage
/public/apk
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/cert
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_store
/nbproject/private/
