.border-default{
  border: 1px #dddddd solid;
}

.border-warning{
  border: 1px #c69500 solid;
}

.border-danger{
  border: 1px #f00 solid;
}

.border-success{
  border: 1px #0BB20C solid;
}

.border-0{
  border-width: 0 !important;
}
.border-1{
  border-width: 1px !important;
}
.border-2{
  border-width: 2px !important;
}

.border-3{
  border-width: 3px !important;
}

.border-4{
  border-width: 4px !important;
}

.border-5{
  border-width: 5px !important;
}

.border-10{
  border-width: 10px !important;
}

.border-default{
  border: 1px #ddd solid !important;
}

.padding-0{
  padding: 0;
}

.padding-10{
  padding: 10px;
}

.padding-20{
  padding: 20px;
}

.margin-0{
  margin: 0;
}

.margin-5{
  margin: 5px;
}

.margin-10{
  margin: 10px;
}

.display-flex{
  display: flex;
}

.display-flex-row{
  display: flex;
  flex-direction: row;
}

.display-inline{
  display: inline !important;
}

.display-inline-block{
  display: inline-block !important;
}

.flex{
  flex: 1;
}


.clearfix{
  clear:both;
}
.blank{
  height:15px;
  clear:both;
  display:block;
}
.blank-20{
  height: 20px;
  clear: both;
  display: block;
}
.float-right{
  float:right !important;
}
.float-left{
  float:left !important;
}
.align-left{
  text-align:left !important;
}
.align-center{
  text-align:center !important;
}
.align-right{
  text-align:right !important;
}
/*百分比宽度*/
.w-5{
  width: 5% !important;
}
.w-10{
  width: 10% !important;
}
.w-15{
  width: 15% !important;
}
.w-25{
  width: 25% !important;
}
.w-30{
  width: 30% !important;
}
.w-33{
  width: 33.33% !important;
}
.w-35{
  width: 35% !important;
}
.w-40{
  width: 40% !important;
}
.w-40{
  width: 40% !important;
}
.w-50{
  width: 50% !important;
}
.w-60{
  width: 60% !important;
}
.w-66{
  width: 66.66% !important;
}
.w-70{
  width: 70% !important;
}
.w-80{
  width: 80% !important;
}
.w-90{
  width: 90% !important;
}
.w-100{
  width: 100% !important;
}
/*百分比高度*/
.h-5{
  height: 5% !important;
}
.h-10{
  height: 10% !important;
}
.h-15{
  height: 15% !important;
}
.h-25{
  height: 25% !important;
}
.h-30{
  height: 30% !important;
}
.h-35{
  height: 35% !important;
}
.h-40{
  height: 40% !important;
}
.h-40{
  height: 40% !important;
}
.h-50{
  height: 50% !important;
}
.h-60{
  height: 60% !important;
}
.h-70{
  height: 70% !important;
}
.h-80{
  height: 80% !important;
}
.h-90{
  height: 90% !important;
}
.h-100{
  height: 100% !important;
}
/*像素宽度*/
.w10{
  width:10px !important;
  max-width: 10px !important;
}
.w20{
  width:20px !important;
  max-width: 20px !important;
}
.w30{
  width:30px !important;
  max-width: 30px !important;
}
.w40{
  width:40px !important;
  max-width: 40px !important;
}
.w50{
  width:50px !important;
  max-width: 50px !important;
}
.w60{
  width:60px !important;
  max-width: 60px !important;
}
.w70{
  width:70px !important;
  max-width: 70px !important;
}
.w80{
  width:80px !important;
  max-width: 80px !important;
}
.w90{
  width:90px !important;
  max-width: 90px !important;
}
.w100{
  width: 100px !important;
  max-width: 100px !important;
}
.w120{
  width:120px !important;
  max-width: 120px !important;
}
.w150{
  width:150px !important;
  max-width: 150px !important;
}
.w200{
  width:200px !important;
  max-width: 200px !important;
}
.w300{
  width:300px !important;
  max-width: 300px !important;
}
.w400{
  width:400px !important;
  max-width: 400px !important;
}
.w500{
  width:500px !important;
  max-width: 500px !important;
}
.w600{
  width:600px !important;
  max-width: 600px !important;
}
.w700{
  width:700px !important;
  max-width: 700px !important;
}
.w800{
  width:800px !important;
  max-width: 800px !important;
}
.w900{
  width:900px !important;
  max-width: 900px !important;
}
.w1000{
  width:1000px !important;
  max-width: 1000px !important;
}
.w1100{
  width:1100px !important;
  max-width: 1100px !important;
}
.w1200{
  width:1200px !important;
  max-width: 1200px !important;
}
.width-auto{
  width: auto !important;
}

/*以像素为单位的高度*/
.h10{
  height: 10px !important;
}
.h20{
  height: 20px !important;
}
.h30{
  height: 30px !important;
}
.h40{
  height: 40px !important;
}
.h50{
  height: 50px !important;
}
.h60{
  height: 60px !important;
}
.h70{
  height: 70px !important;
}
.h80{
  height: 80px !important;
}
.h90{
  height: 90px !important;
}
.h100{
  height: 100px !important;
}
.h110{
  height: 110px !important;
}
.h120{
  height: 120px !important;
}
.h150{
  height: 150px !important;
}
.h200{
  height: 200px !important;
}
.h300{
  height: 300px !important;
}
.h400{
  height: 400px !important;
}
.h500{
  height: 500px !important;
}
.h600{
  height: 600px !important;
}
.h700{
  height: 700px !important;
}
.h800{
  height: 800px !important;
}
.h900{
  height: 900px !important;
}
.h1000{
  height: 1000px !important;
}
.h1100{
  height: 1100px !important;
}
.h1200{
  height: 1200px !important;
}

.text-indent-1{
  text-indent: 2em;
}

.text-indent-2{
  text-indent: 4em;
}

.font-8{
  font-size: 8px !important;
}

.font-10{
  font-size: 10px !important;
}

.font-12{
  font-size: 12px !important;
}

.font-14{
  font-size: 14px !important;
}

.font-16{
  font-size: 16px !important;
}

.font-18{
  font-size: 18px !important;
}

.font-20{
  font-size: 20px !important;
}

.font-22{
  font-size: 22px !important;
}

.font-24{
  font-size: 24px !important;
}

/*按钮*/
.dsxui-btn{
  line-height: 1.67;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px #dddddd solid;
}

.dsxui-btn-default{
  background-color: #fafafa;
  border-color: #ccc;
}

.dsxui-overlayer{
  position:fixed;
  left:0; top:0;
  right: 0;
  bottom: 0;
  z-index:1000;
  opacity:0.4;
  background:#000;
}
/*===模态框===*/
.dsxui-modal{
  position: fixed;
  z-index: 1050;
  display: block;

  .dialog{
    border-radius: 6px;
    background-clip: padding-box;
    position: relative;
    display: block;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-color: #fff;

    .dialog-header{
      padding: 15px;
      position: relative;
      border-bottom: 1px #e8e8e8 solid;

      a.close{
        font-size: 22px;
        color: #666;
        position: absolute;
        top: 15px;
        right: 15px;
        margin-top: -2px;
      }
    }

    .dialog-content{
      padding: 15px;
      min-width: 400px;
    }

    .dialog-footer{
      padding: 15px;
      border-top: 1px #e8e8e8 solid;
      text-align: right;

      .btn{
        margin: 0 3px;
      }
    }
  }
}
/*===提示框===*/
.dsxui-message-box{
  display:block;
  position:fixed;
  z-index:99999;
  border-radius:3px;
  box-shadow:2px 2px 5px rgba(0,0,0,0.5);

  .message-div{
    padding:15px 20px;
    border-radius:3px;
    color:#fff;
    white-space:nowrap;
  }

  .message-success {
    background-color:#41CC24;
  }
  .message-error {
    background-color:#FF002D;
  }

  .message-text{
    font-size:15px;
    margin-left: 24px;
    line-height: 1.3;
  }

  .message-warning {
    background-color:#FAA722;
  }

  .message-infomation {
    background-color:#53A9C2;
  }

  .message-icon{
    font-size:18px;
    height:18px;
    line-height:18px;
    margin:1px 6px 0 0;
    float:left; width: 20px;
    display: block;
    vertical-align:middle;
  }

}

/*======*/
.dsxui-confirm-box {
  width:180px;
  background:#fefefe;
  border:#d5d5d5 1px solid;
  border-radius:3px;
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);

  dl{
    clear:both;

    dt{
      padding:20px 15px 0;
      font-size:12px;
      line-height:1.0;
      margin:0;
      text-align:center;
    }

    dd{
      padding:15px;
      clear:both;
      text-align:center;
      margin:0;

      .btn{
        display:inline-block;
        cursor:pointer;
        height:22px;
        line-height:20px;
        padding:0 10px;
        border-radius:3px;
        font-size: 12px;
      }

      .btn-yes{
        background:#80BF1D;
        color:#fff;
        border:1px #80BF1D solid;
      }

      .btn-yes:hover{
        background:#64A402;
        border:1px #64A402 solid;
      }

      .btn-no{
        margin-left:10px;
        background-color:#fefefe;
        color:#333;
        border:1px #E2E2E2 solid;
      }

      .btn-no:hover{
        background-color:#f8f8f8;
      }
    }
  }
}

.dsxui-tips-box{
  position:absolute;
  z-index:500;
  background-color:#000;
  border-radius:3px;
  padding:7px 10px;
  font-size:10px;
  line-height:1.0;
  color:#fff;
}
.dsxui-tips-arrow{
  position:absolute;
  z-index:500;
  background-image:url('#{$image-path}/common/arrow-down.png');
  background-repeat:no-repeat;
  background-size:100% 100%;
  width:16px;
  height:16px;
  display:block;
}

.dsxui-loading-box{
  position:absolute;
  z-index:9999;
  background:#fff;
  border:2px #999 solid;
  border-radius:20px;
  padding:10px 20px;
  font-size:14px;
  text-align:center;

  .ico{
    margin-right:5px;
    vertical-align:-2px;
    background:url('#{$image-path}/common/loading16.gif') no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
  }
}

.dsxui-spinner{
  position:fixed;
  z-index:1000;
  width:80px;
  height:80px;
  display:block;
  border-radius:10px;
  background-color:#f5f5f5;
  background-image:url('#{$image-path}/common/spinner.gif');
  background-repeat:no-repeat;
  background-size:70% 70%;
  background-position:center center;
}

.dsxui-toast{
  position: absolute;
  display: inline-block;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 8px;
  max-width: 400px;

  .dsxui-toast-content{
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
  }
}

.dsxui-tabs-container{
  display: block;
  clear: both;
  margin: 16px 0;
  position: relative;
  border-bottom: 1px #ddd solid;
  padding: 0;
}

.dsxui-tabs {
  display: block;
  padding: 0;
  margin: 0;

  .tab-item{
    float: left;
    position: relative;
    margin-right: 30px;

    .tab-link{
      display: block;
      font-size: 14px;
      padding: 11px 0;
      line-height: 1;
      margin-bottom: -1px;
    }

    .active{
      font-weight: bold;
      color: #DB051C;
      border-bottom: 3px #DB051C solid;
    }
  }


}

.dsxui-listtable{
  border: 1px #e1e6eb solid;
  border-radius: 2px;
  border-collapse: inherit;

  td, th{
    text-align:left;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.5;
  }

  thead th{
    background-color:#f5f6fa;
    padding: 8px;
    color: #888;
    font-weight: 400;
  }

  tbody{
    td,th{
      border-top:1px #e1e6eb solid;
      padding: 12px 8px;
    }
  }

  tfoot{
    td,th{
      background-color:#f5f6fa;
      border-top:1px #e1e6eb solid;
      padding: 12px 8px;
    }
  }

  .a-link{
    color: #0B90EF;
  }

  h1{
    font-size: 18px;
  }

  h2{
    font-size: 16px;
  }

  h3{
    font-size: 14px;
  }

  h4{
    font-size: 12px;
  }

  p{
    font-size: 12px;
    color: #666;
  }
  label{
    margin: 0;
    padding: 0;
  }

}

/*表单表格*/
.dsxui-formtable{
  width: 100%;
  box-sizing: border-box;

  td,th{
    padding:10px 0;
    text-align:left;
  }

  .cell-label{
    text-align:right;
    padding-right:10px;
  }

  .cell-input{

  }

  .cell-tips{
    color: #666;
    padding-left: 15px;
  }

  .label,label{
    margin: 0;
    padding: 0;
    padding-right: 15px;
    line-height: 2;
  }

  li{
    padding: 5px 0;
    line-height: 1;
  }

  h1{
    font-size: 18px;
  }

  h2{
    font-size: 16px;
  }

  h3{
    font-size: 14px;
  }

  h4{
    font-size: 12px;
  }

}

/*uploader*/
.dsxui-uploader{
  display: block;

  .dsxui-uploader-files{
    float: left;

    .dsxui-uploader-file{
      width: 80px;
      height: 80px;
      border: 1px #DDD solid;
      float: left;
      margin-right: 10px;
      display: inline-block;
      position: relative;

      .preview{
        display: block;
        height: 100%;
        width: 100%;
      }

      .delete{
        position: absolute;
        top: -8px;
        right: -8px;
        cursor: pointer;
      }

    }

  }

  .dsxui-uploader-input{
    width: 80px;
    height: 80px;
    border: 1px #DDD dashed;
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;

    .iconfont{
      color: #999999;
      font-size: 60px;
      line-height: 1;
      font-weight: 200;
      margin-top: 10px;
    }
  }
}

.dsxui-media-input{
  width: 80px;
  height: 80px;
  border: 1px #DDD solid;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 10px;

  .iconfont{
    color: #999999;
    font-size: 60px;
    line-height: 1;
    font-weight: 200;
  }

  .preview{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

}

.dsxui-row{
  display: block;

  .dsxui-col{
    display: inline-block;
    float: left;
    box-sizing: border-box;
    line-height: 2;
    min-height: 20px;
  }
}
