$iconfont-path:'/fonts' !default;
$image-path: '/images' !default;

$g-body-bg: #fff !default;
$g-font-size: 0.9rem !default;
$g-font-family: "PingFang SC","Microsoft YaHei","Hiragino Sans GB",Arial,sans-serif !default;
$g-line-height: 1.6 !default;
$g-color: #3c3c3c !default;
$g-link-color: #3c3c3c !default;
$g-link-hover-color: #008FBF !default;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$amount-color: #E1251B !default;
$primary-color:#E1251B !default;
