@import "base";
@import "front-common";

/*==商品详情==*/
.preview-wrap {
    width: 400px;
    float: left;
}

.preview {
    width: 400px;
    margin: 0;
}

.zoom-div {
    display: block;
    position: relative;
}

.zoom-div .imgbox {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: block;
    position: relative;
    border: 1px #DDD solid;
    background-color: #fff2f2;
}

.zoom-div .bigimg {
    width: 400px;
    height: 400px;
    display: block;
}

.zoom-div .dragbox {
    width: 140px;
    height: 140px;
    background: url("../images/common/mask.png");
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    display: none;
}

.zoom-div .previewbox {
    position: absolute;
    left: 405px;
    top: 0;
    width: 500px;
    height: 500px;
    border: 1px #DDD solid;
    overflow: hidden;
    background-color: #F2F2F2;
    z-index: 500;
    display: none;
}

.zoom-div .previewbox .previewimg {
    width: 1000px;
    height: 1000px;
    margin-left: 0;
    margin-top: 0;
}

.zoom-div .thumbs {
    display: block;
    margin-top: 10px;
}

.zoom-div .thumbs ul {
    margin: 0 -5px;
}

.zoom-div .thumbs li {
    width: 20%;
    float: left;
}

.zoom-div .thumbs li .bg {
    margin: 5px;
    height: 72px;
    display: block;
    border: 2px #DDD solid;
    cursor: pointer;
}

.zoom-div .thumbs li.active .bg {
    border-color: #f00;
}

.showpage {
    width: 400px;
    position: relative;
}

.showpage a {
    display: block;
    width: 15px;
    border: 1px solid #ddd;
    height: 60px;
    line-height: 60px;
    background: #eee;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: -62px;
    text-decoration: none;
    color: #999;
}

.showpage a#shownext {
    left: auto;
    right: 0;
}

.showpage a:hover {
    background: #ccc;
    color: #777;
}

.iteminfo-wrap {
    float: left;
    margin-left: 30px;
    width: 530px;
    font-size: 12px;
    position: relative;
}

.iteminfo-wrap .item-name {
    font-size: 16px;
    line-height: 1.3;
    padding: 10px 0;
    color: #333;
}

.iteminfo-wrap .item-brief {
    padding: 0 0 15px 0;
    font-size: 13px;
    line-height: 1.1;
    display: block;
    color: #666;
}

.iteminfo-wrap .item-group {
    padding: 10px;
    display: block;
    position: relative;
}

.iteminfo-wrap .item-group .label {
    width: 80px;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float: left;
    color: #888;
    font-family: simsun;
}

.iteminfo-wrap .item-group .info {
    float: left;
}

.iteminfo-wrap .price-wrap {
    background-color: #FFF2E7;
    padding: 5px 0;
    position: relative;
}

.iteminfo-wrap .p-price {
    color: #ff0000;
    line-height: 22px;
    height: 22px;
}

.iteminfo-wrap .p-price span {
    font-size: 16px;
}

.iteminfo-wrap .p-price strong {
    font-size: 22px;
}

.iteminfo-wrap .buy-num-wrap {
    height: 26px;
    border: 1px #DDD solid;
}

.iteminfo-wrap .buy-num-wrap .btn {
    float: left;
    width: 24px;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    background-color: #f0f0f0;
    padding: 0;
}

.iteminfo-wrap .buy-num-wrap .buy-num {
    height: 24px;
    text-align: center;
    background-color: #fff;
    border-color: #DDD;
    border-style: solid;
    border-width: 0 1px 0 1px;
    width: 40px;
    float: left;
    font-size: 16px;
}

.iteminfo-wrap .btn-lg {
    font-size: 16px;
    margin-right: 10px;
    height: 38px;
    line-height: 36px;
    padding: 0 30px;
    border: 1px #E12D2C solid;
    background-color: #E12D2C;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
}

.iteminfo-wrap .btn-buy-now {
    background-color: #FFE4CF;
    color: #e5511d;
    border-color: #f0cab6;
}

.iteminfo-wrap .radio {
    font-size: 12px;
    height: 14px;
    width: 14px;
}

.iteminfo-wrap .p-stat {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
}

.iteminfo-wrap .p-stat li {
    display: block;
    padding: 10px;
    float: left;
}

.iteminfo-wrap .p-stat li h3 {
    font-size: 14px;
    text-align: center;
}

.iteminfo-wrap .p-stat li p {
    font-size: 12px;
    text-align: center;
    display: block;
    padding-top: 7px;
}

.iteminfo-wrap .share {
    color: #888;
    float: left;
    margin-right: 30px;
    cursor: pointer;
}

.iteminfo-wrap .favorite {
    color: #888;
    cursor: pointer;
}

.iteminfo-wrap .iconfont {
    margin-right: 3px;
}

.shopinfo-wrap {
    width: 200px;
    float: right;
    border: 1px solid #ffe2a3;
}

.shopinfo-wrap .shop-header {
    display: block;
}

.shopinfo-wrap .shop-header img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
}

.shopinfo-wrap .shopinfo {
    display: block;
    padding: 20px 15px;
}

.shopinfo-wrap .shopinfo h3 {
    font-size: 12px;
    height: 20px;
    display: block;
    margin-bottom: 5px;
}

.shopinfo-wrap .shopinfo .row {
    height: 20px;
    display: block;
    margin: 0 0 5px 0;
}

.shopinfo-wrap .shopinfo .row dl {
    font-size: 12px;
}

.shopinfo-wrap .shopinfo .row dl dt {
    width: 40px;
    float: left;
    color: #666;
}

.shopinfo-wrap .shopinfo .separate {
    height: 1px;
    clear: both;
    border-bottom: 1px #DDD dotted;
}

.shopinfo-wrap .shopinfo .btn {
    height: 28px;
    width: 75px;
    background-color: #fafafa;
    display: inline-block;
    font-size: 12px;
    border: 1px #e5e5e5 solid;
    border-radius: 3px;
    line-height: 26px;
    text-align: center;
    padding: 0;
}

.shopinfo-wrap .shopinfo .btn:hover {
    border-color: #ddd;
    background-color: #f5f5f5;
}

.item-detail {
    position: relative;
    width: 935px;
    float: left;
    display: inline-block;
}

.item-detail .tabbar-wrap {
    background-color: #f2f2f2;
    display: block;
    height: 44px;
    border: 1px #DDD solid;
}

.item-detail .tabbar-wrap .tabbar {
    float: left;
    position: relative;
}

.item-detail .tabbar-wrap .tabbar li {
    float: left;
    width: 130px;
    height: 42px;
    border-right: 1px #DDD solid;
}

.item-detail .tabbar-wrap .tabbar li a {
    display: block;
    line-height: 42px;
    font-size: 14px;
    text-align: center;
}

.item-detail .tabbar-wrap .tabbar li.cur {
    background-color: #fff;
    margin-bottom: -1px;
    height: 43px;
}

.item-detail .tabbar-wrap .tabbar li.cur a {
    color: #ff0000;
}

.item-detail .detail-content {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    text-align: justify;
}

.item-detail .detail-content * {
    max-width: 100%;
}

.item-detail .props-table {

}

.item-detail .item-props {
    display: block;
    padding: 20px;
}

.item-detail .item-props li {
    width: 30%;
    float: left;
    padding: 5px 0;
    font-size: 14px;
}

.item-detail-right {
    display: inline-block;
    vertical-align: text-top;
    width: 230px;
    float: right;
}

.item-detail-right .inner {
    display: block;
}

.item-detail-right .hot-sale-title {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    background-color: #f40;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

.item-detail-right .hot-item-list {
    display: block;
    padding: 10px;
    border: 1px #e8e8e8 solid;
    border-top: none;
}

.item-detail-right .hot-item-list li {
    display: block;
    margin-bottom: 10px;
    border: 1px #e8e8e8 solid;
}

.item-detail-right .hot-item-list li .g-pic {
    display: block;
    padding-top: 100%;
    position: relative;
}

.item-detail-right .hot-item-list li .g-pic img, .item-detail-right .hot-item-list li .g-pic a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.item-detail-right .hot-item-list li .g-pic .g-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

.item-detail-right .hot-item-list li .g-pic .g-name p {
    padding: 10px;
    display: block;
    font-size: 13px;
    line-height: 1.2;
}

.item-detail-right .hot-item-list li .g-pic:hover .g-name {
    display: block;
    background-color: #fff;
}

.item-detail-right .hot-item-list li .line {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-top: 1px #e8e8e8 solid;
}

.item-detail-right .hot-item-list li .line .price {
    font-size: 16px;
    color: #f40;
    font-weight: 700;
}

.item-detail-right .hot-item-list li .line .price span {
    font-weight: normal;
    font-size: 14px;
    margin-right: 3px;
}

.item-detail-right .hot-item-list li .line .sold {
    float: right;
    font-size: 12px;
    color: #888;
}

/*===商品搜索===*/
.item-search-wrap {
    display: block;
    margin: 20px auto;
}

.item-search-wrap .main {
    width: 940px;
    float: left;
    display: inline-block;
    margin-right: 15px;
}

.item-search-wrap .search-th {
    height: 40px;
    border: 1px #e8e8e8 solid;
    background-color: #f5f5f5;
    display: block;
}

.item-search-wrap .search-th .sort-tab {
    float: left;
}

.item-search-wrap .search-th .sort-tab li {
    width: 64px;
    height: 38px;
    float: left;
    display: inline-block;
    margin-left: -1px;
}

.item-search-wrap .search-th .sort-tab li a {
    color: #666;
    font-size: 13px;
    display: block;
    text-align: center;
    line-height: 38px;
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent;
}

.item-search-wrap .search-th .sort-tab li a.cur, .item-search-wrap .search-th .sort-tab li a:hover {
    background-color: #fff;
    color: #f40;
    border-color: #e8e8e8;
}

.item-search-wrap .search-th .total-count {
    font-size: 12px;
    float: right;
    margin: 10px 10px 0 0;
}

.item-search-wrap .item-list-wrap {
    display: block;
    margin-top: 10px;
}

.item-search-wrap .item-list {
    display: block;
}

.item-search-wrap .item-list li {
    padding: 15px 0;
    border-top: 1px #e8e8e8 solid;
    display: block;
}

.item-search-wrap .item-list li .item-img {
    width: 120px;
    height: 120px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    border: 1px solid #ededed;
    border-radius: 1px;
}

.item-search-wrap .item-list li .item-img img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1px;
}

.item-search-wrap .item-list li .item-info {
    height: 80px;
    width: 380px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 20px;
}

.item-search-wrap .item-list li .item-info h3 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    display: block;
    padding: 5px 0;
}

.item-search-wrap .item-list li .item-info .brief {
    color: #888;
    font-size: 12px;
    height: 16px;
    overflow: hidden;
}

.item-search-wrap .item-list li .item-info .shop {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    color: #888;
    text-decoration: underline;
}

.item-search-wrap .item-list li .item-info .shop a {
    color: #888;
    text-decoration: underline;
}

.item-search-wrap .item-list li .item-info .dist {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #888;
}

.item-search-wrap .item-list li .item-price {
    width: 180px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    color: #f40;
    font-size: 18px;
    padding-top: 5px;
}

.item-search-wrap .item-list li .item-price strong {
    font-weight: 700;
}

.item-search-wrap .item-list li .item-sold {
    width: 120px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    color: #888;
    font-size: 12px;
}

.item-search-wrap .item-list li .item-sold p {
    padding-top: 5px;
    display: block;
}

.item-search-wrap .item-list li .item-sold a {
    color: #888;
    text-decoration: underline;
}

.item-search-wrap .frame-right {
    display: inline-block;
    vertical-align: text-top;
    width: 200px;
}

.item-search-wrap .frame-right .inner {
    display: block;
}

.item-search-wrap .frame-right .hot-sale-title {
    padding-bottom: 10px;
    border-bottom: 1px #e8e8e8 solid;
    font-size: 14px;
}

.item-search-wrap .frame-right .hot-item-list {
    display: block;
    padding: 10px 0;
}

.item-search-wrap .frame-right .hot-item-list li {
    display: block;
    margin-bottom: 10px;
    border: 1px #e8e8e8 solid;
}

.item-search-wrap .frame-right .hot-item-list li .g-pic {
    display: block;
    padding-top: 100%;
    position: relative;
}

.item-search-wrap .frame-right .hot-item-list li .g-pic img, .item-search-wrap .frame-right .hot-item-list li .g-pic a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.item-search-wrap .frame-right .hot-item-list li .g-pic .g-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

.item-search-wrap .frame-right .hot-item-list li .g-pic .g-name p {
    padding: 10px;
    display: block;
    font-size: 13px;
    line-height: 1.2;
}

.item-search-wrap .frame-right .hot-item-list li .g-pic:hover .g-name {
    display: block;
    background-color: #fff;
}

.item-search-wrap .frame-right .hot-item-list li .line {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-top: 1px #e8e8e8 solid;
}

.item-search-wrap .frame-right .hot-item-list li .line .price {
    font-size: 16px;
    color: #f40;
    font-weight: 700;
}

.item-search-wrap .frame-right .hot-item-list li .line .price span {
    font-weight: normal;
    font-size: 14px;
    margin-right: 3px;
}

.item-search-wrap .frame-right .hot-item-list li .line .sold {
    float: right;
    font-size: 12px;
    color: #888;
}

/*==企业店铺==*/
.shop-filter {
    background-color: #f9f9f9;
    border: 1px #DDD solid;
    height: 40px;
    margin: 20px auto 10px;
}

.shop-filter .tab {
    float: left;
}

.shop-filter .tab li {
    float: left;
    width: 65px;
}

.shop-filter .tab li a {
    display: block;
    text-align: center;
    font-size: 13px;
    line-height: 38px;
    border-right: 1px transparent solid;
}

.shop-filter .tab li a:hover, .shop-filter .tab li a.cur {
    background-color: #fff;
    border-color: #DDD;
}

.shop-filter .search-hd {
    float: right;
    margin: 5px 5px 0 0;
}

.shop {
}

.shop .shop-grid-wrap {
    display: block;
    margin: 10px;
    margin-bottom: 20px;
}

.shop .shop-grid-wrap ul {
    display: block;
    margin: 0 -10px;
}

.shop .shop-grid-wrap ul li {
    float: left;
    margin: 10px 0;
    width: 25%;
}

.shop .shop-grid-wrap ul li .hd {
    display: block;
    margin: 0 10px;
    border: 1px #e8e8e8 solid;
}

.shop .shop-grid-wrap ul li .hd:hover {
    background-color: #f9f9f9;
}

.shop .shop-grid-wrap ul li .logo {
    display: block;
    padding-top: 60%;
    position: relative;
}

.shop .shop-grid-wrap ul li .logo a, .shop .shop-grid-wrap ul li .logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}

.shop .shop-grid-wrap ul li .shop-name {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0 10px;
    overflow: hidden;
    border-top: 1px #e8e8e8 solid;
}

/*==产品分类==*/
.catlog {
    width: 960px;
    margin: 20px auto;
    display: block;
    overflow: hidden;
}

.catlog .group {
    padding: 15px 0;
    font-size: 16px;
}

.catlog .items {
    display: block;
}

.catlog .items li {
    width: 80px;
    float: left;
    margin: 0 20px 20px 0;
}

.catlog .items li .ico {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.catlog .items li .ico img {
    width: 60px;
    height: 60px;
    border: 0;
}

.catlog .items li .name {
    text-align: center;
    margin-top: 5px;
    display: block;
    font-size: 14px;
}

.page-detail {
    display: block;
    margin: 20px 0;
}

.page-detail .sidebar {
    width: 160px;
    float: left;
    margin-right: 20px;
    background-color: #f8f8f8;
}

.page-detail .sidebar h3 {
    padding: 7px 15px;
    font-size: 14px;
    display: block;
    border-bottom: 1px #ddd solid;
}

.page-detail .sidebar ul {
    display: block;
    padding: 5px 0;
}

.page-detail .sidebar ul li {
    padding: 5px 15px;
    font-size: 12px;
}

.page-detail .sidebar ul li a {
    display: block;
}

.page-detail .main-frame {
    margin-left: 180px;
}

.page-detail .main-frame .frame-content {
    display: block;
    overflow: hidden;
}

.page-detail .main-frame .title {
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.page-detail .main-frame .content {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    display: block;
    overflow: hidden;
}

.page-detail .main-frame .content * {
    max-width: 100%;
}

.page-detail .main-frame .content p {
    margin: 10px 0;
    display: block;
}
