@import "../base";
@import "../common/top";
@import "../common/footer";

.area {
    width: 990px;
    margin: 0 auto;
}

.header {
    display: block;

    .banner {
        display: block;
        padding: 20px 0;
        position: relative;
    }

    .global-logo {
        height: 60px;
        float: left;
        width: 240px;

        img {
            height: 60px;
            width: auto;
            display: block;
        }
    }
}

.header .global-search-box {
    height: 60px;
    float: right;
    position: relative;
    padding-top: 13px;
}

.header .global-search-box .input-box {
    height: 34px;
    border: 2px #f40 solid;
    width: 500px;
    position: relative;
}

.header .global-search-box .text {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border: 0;
    background: none;
    width: 460px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding: 0 10px;
}

.header .global-search-box .btn {
    background-color: #f40;
    color: #fff;
    position: absolute;
    border: none;
    width: 60px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.header .global-search-box .hot {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.0;
    color: #666;
}

.cart {
    min-height: 500px;
    margin: 20px auto;

    & {
        &-title {
            display: flex;
            padding-top: 20px;
        }

        &-table {
            width: 100%;
            border-spacing: 0;

            thead {
                th {
                    font-size: 12px;
                    font-weight: normal;
                    color: #666;
                    padding: 20px 0;
                    text-align: left;
                }
            }

            tbody {
                td {
                    padding: 15px 0;
                    font-size: 12px;
                    vertical-align: top;
                    border-top: 1px #e7e7e7 solid;

                    .product-thumb {
                        width: 80px;
                        height: 80px;
                        position: relative;
                        float: left;
                        display: inline-block;
                        margin-right: 10px;
                    }

                    .product-title {
                        font-size: 14px;
                    }

                    .product-sku {
                        color: #666;
                        margin-top: 5px;
                    }

                    .noaccess {
                        padding: 100px 0 200px;
                        text-align: center;
                        font-size: 16px;
                    }

                    .input-number {
                        border: 1px #DDD solid;
                        width: 90px;
                        display: flex;
                        margin-right: 10px;

                        .input-btn {
                            float: left;
                            width: 22px;
                            text-align: center;
                            cursor: pointer;
                            line-height: 22px;
                            font-size: 16px;
                            background-color: #f0f0f0;
                            padding: 0;
                        }

                        .input-text {
                            height: 24px;
                            text-align: center;
                            background-color: #fff;
                            border-color: #DDD;
                            border-style: solid;
                            border-width: 0 1px 0 1px;
                            font-size: 16px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        &-edit-footer {
            height: 50px;
            position: relative;
            background-color: #e5e5e5;
            line-height: 50px;
            display: flex;
            align-items: center;

            .checkbox-wrapper {
                width: 90px;
                height: 50px;
                float: left;
                padding: 0 10px;
            }

            .operations {
                height: 50px;
                float: left;
                flex: 1;
                display: flex;

                a {
                    display: inline-block;
                    margin-right: 30px;
                }
            }

            .settlement-buttons {
                float: right;
                height: 50px;
                font-size: 12px;
                display: flex;
                align-items: center;

                strong {
                    color: #f40;
                    font-size: 18px;
                }

                .btn-settlement {
                    background-color: #f40;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    width: 100px;
                    display: inline-block;
                    text-align: center;
                    cursor: pointer;
                    margin-left: 10px;
                }

                .btn-disabled {
                    background-color: #b0b0b0;
                    cursor: not-allowed;
                }
            }
        }
    }
}
