.biz-content {
    width: 1080px;
    min-height: 576px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 16px auto;
    padding-top: 48px;
}

.shop-select {
    padding: 0 24px 24px;
    margin-top: -24px;

    .top {
        display: flex;
        border-bottom: 1px solid #eeeeee;
        align-items: center;
        height: 92px;

        .user {
            flex: 1;
            display: flex;

            .avatar {
                margin-right: 8px;

                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
            }

            .info {
                flex: 1;
            }

            .name {
                font-size: 16px;
                padding-top: 4px;
                color: #222222;
                line-height: 1.15;
            }

            .phone {
                font-size: 12px;
                margin-top: 3px;
                color: #737373;
            }
        }
    }

    .bottom {
        padding-top: 24px;
        line-height: 1.2;

        .title {
            font-size: 16px;
            color: #222222;
            margin-bottom: 12px;
        }

        .shops {
            margin: 0 -12px;
            display: flex;

            .item {
                border: 1px solid #dddddd;
                margin: 12px;
                border-radius: 4px;
                width: 336px;
                height: 168px;
                position: relative;
                padding: 16px;
                line-height: 1.15;

                .shop-name {
                    font-size: 16px;
                    color: #222222;
                    margin-bottom: 12px;
                    font-weight: 700;
                }

                .desc {
                    font-size: 14px;
                    color: #737373;
                    margin-top: 6px;
                }

                .edit {
                    position: absolute;
                    left: 16px;
                    bottom: 16px;
                    color: #297ce6;
                    font-size: 14px;
                }

                .btn-select {
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                    display: none;
                }

                &:hover {
                    background-color: #efefef;
                    cursor: pointer;

                    .btn-select {
                        display: block;
                    }
                }
            }
        }
    }
}

.register-form-title {
    font-size: 32px;
    font-weight: 300;
    color: #222222;
    text-align: center;
}

.register-form-info {
    margin: 50px auto;
    width: 450px;
    display: block;

    .logo-uploader {
        width: 80px;
        height: 80px;
    }

    .tips {
        font-size: 12px;
        color: #737373;
        line-height: 1.2;
        margin-top: 4px;
    }
}

.register-wrapper-info {
    display: flex;
    padding-top: 59px;
    justify-content: center;
}

.shop-type {
    width: 294px;
    height: 337px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #222;
    text-align: center;
    margin: 0 8px;

    .title {
        font-size: 16px;
        font-weight: 700;
        margin-top: 33px;
    }

    .desc {
        margin-top: 8px;
        font-size: 14px;
    }

    .detail {
        padding: 0 20px;
        margin: 34px auto 0;
        font-size: 14px;
        color: #737373;
        text-align: left;
        min-height: 80px;
    }

    .shop-type-btn {
        width: 200px;
        height: 40px;
        line-height: 40px;
        margin: 70px auto 0;
        font-size: 14px;
        color: #fff;
        text-align: center;
        background: #e53a40;
        border-radius: 4px;
        cursor: pointer;
    }
}
