.dashboard {
    display: flex;

    &-left {
        flex: 0.7;
        margin-right: 10px;
    }

    &-right {
        flex: 0.3;
    }

    &-content {
        background-color: #fff;
        display: block;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    &-title {
        padding: 15px 30px;
        border-bottom: 1px #E5E5E5 solid;

        strong {
            font-size: 16px;
            color: #222;
        }
    }

    .activity {
        padding: 10px 30px 20px;
        display: block;

        li {
            font-size: 14px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            margin-top: 10px;

            span {
                color: #666;
                float: right;
                margin-left: 20px;
            }
        }
    }

    .index-module {
        padding: 25px 0;
        display: flex;

        .module {
            width: 25%;
            display: inline-block;
            text-align: center;

            .tips {
                color: #666;
                font-size: 14px;
                margin-bottom: 15px;
            }

            .num {
                color: #222;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .quick-operation {
        display: flex;
        flex-wrap: wrap;

        .module {
            width: 20%;
            max-width: 20%;
            padding: 20px;
            display: inline-block;
            text-align: center;

            .icon {

                .iconfont {
                    color: #008EF2;
                    font-size: 40px;
                    line-height: 1;
                }
            }

            .tips {
                font-size: 14px;
                color: #666;
                display: block;
                text-align: center;
                padding-top: 10px;
            }
        }
    }

    .newuser{
        display: block;
        padding: 9px 20px;

        li{
            display: flex;
            padding: 7px 0;

            .avatar{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border-radius: 15px;
            }

            .username{
                height: 30px;
                line-height: 30px;
                flex: 1;
            }
        }
    }
}
