@import "../base";

a:link, a:active {
    color: #333;
}

//.btn-group-sm > .btn, .btn-sm {
//    padding: 3px 7px;
//    font-size: 12px;
//    line-height: 1.5;
//    border-radius: 2px;
//}

.iconfont {
    vertical-align: -1px;
    margin-right: 2px;
}

/*===顶部===*/
.admin-header {
    color: #fff;
    height: 40px;
    display: block;
    position: relative;
}

.admin-header .header {
    display: block;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #0098CE;
    z-index: 200;
}

.admin-header .logo {
    font-size: 20px;
    line-height: 40px;
    float: left;
    margin-right: 40px;
    margin-left: 26px;
}

.admin-header .right-menu {
    font-size: 12px;
    overflow: hidden;
    padding-left: 2px;
    float: right;
}

.admin-header .right-menu a {
    display: inline-block;
    padding: 0 20px;
    float: left;
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-left: 1px #008fbf solid;
    border-right: 1px #008fbf solid;
    margin-left: -1px;
}

/*===侧边栏===*/
.sidebar {
    width: 160px;
    background: #EAEDF1;
    position: fixed;
    left: 0;
    top: 40px;
    bottom: 0;
}

.sidebar .sidebar-content {
    display: block;
    position: relative;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.sidebar .scroll {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: -20px;
    bottom: 0;
    overflow: auto;
}

.sidebar .menus {
    display: block;
    padding: 10px 0 20px 0;
}

.sidebar dl {
    display: block;
}

.sidebar dl dd {
    font-size: 12px;
    font-weight: 400;
}

.sidebar dl dd a {
    display: block;
    padding: 8px 25px;
    font-size: 14px;
}

.sidebar dl dd a:hover {
    color: #000;
}

.sidebar dl dd .iconfont {
    display: inline-block;
    font-size: 16px;
    margin-right: 3px;
    vertical-align: -1px;
}

.sidebar dl dt {
    display: none;
}

.sidebar dl ul {
}

.sidebar dl li {
    display: block;
}

.sidebar dl li a {
    display: block;
    padding: 7px 20px 7px 41px;
    font-size: 12px;
}

.sidebar dl li a:hover {
    background: #e2e2e2;
    color: #000;
}

.sidebar dl li a.cur, .sidebar dl li a.cur:hover {
    background-color: #0097D0;
    color: #fff;
}

.sidebar dl .on {
    background-color: #1296DB;
    color: #fff;
}

.mainframe {
    position: fixed;
    left: 160px;
    top: 40px;
    right: 0;
    bottom: 0;
    display: block;
    background-color: #fff;
    overflow: auto;
}

.mainframe .main-content {
    display: block;
    padding: 0;
    height: 100%;
    background-color: #fff;
}

.content-div {
    display: block;
    margin: 10px 0;
}

.search-container {
    .row {
        clear: both;
        margin: 10px 0;

        .cell {
            width: 33.3333%;
            float: left;

            .label {
                width: 90px;
                text-align: center;
                font-size: 12px;
                float: left;
                height: 28px;
                line-height: 28px;
                color: #666;
                font-weight: normal;
            }

            .field {
                margin-left: 91px;
            }

        }
    }
}

/*控制栏*/
.console-title {
    display: block;
    margin-bottom: 20px;
    line-height: 1;

    h2 {
        font-size: 18px;
        font-weight: 500;
        float: left;
        line-height: 1;
        padding-top: 2px;
    }

}

.catlog-prefix {
    background: url("#{$image-path}/admin/join.png") left center no-repeat;
    padding: 0 0 0 30px;
}
