<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>大师兄的小店</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>我们需要访问你的媒体库用于上传小视频等</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>我们需要使用你的蓝牙向你推荐周边好友</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>我们需要使用你的蓝牙向你推荐周边好友</string>
	<key>NSCalendarsUsageDescription</key>
	<string>我们需要访问你的日历向你推荐行程安排</string>
	<key>NSCameraUsageDescription</key>
	<string>我们需要使用你的相机进行头像拍照</string>
	<key>NSContactsUsageDescription</key>
	<string>我们需要访问你的联系人信息向你推荐好友</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要访问位置服务向你展示周边的信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要访问位置服务向你展示周边的信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要使用你的麦克风进行语音输入</string>
	<key>NSMotionUsageDescription</key>
	<string>我们需要使用的运动与健康信息，是否允许</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要使用你的相册进行头像设置</string>
	<key>NSSiriUsageDescription</key>
	<string>我们需要使用siri进行语音识别</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我们需要使用语言识别功能，用于进行语音输入</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
