.global-footer{
    display: block;

    .container{
        padding: 20px;
        display: block;
        width: 1180px;
        margin: 0 auto;

        p{
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            text-align: center;
        }
    }
}
