@font-face {
  font-family: "iconfont"; /* Project id 1264972 */
  src: url('iconfont.woff2?t=1621392649231') format('woff2'),
       url('iconfont.woff?t=1621392649231') format('woff'),
       url('iconfont.ttf?t=1621392649231') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dynamic-filling:before {
  content: "\e738";
}

.icon-intermediate-filling:before {
  content: "\e739";
}

.icon-favorite-filling:before {
  content: "\e73a";
}

.icon-layout-filling:before {
  content: "\e73b";
}

.icon-help-filling:before {
  content: "\e742";
}

.icon-history-filling:before {
  content: "\e743";
}

.icon-filter-filling:before {
  content: "\e744";
}

.icon-news-filling:before {
  content: "\e745";
}

.icon-edit-filling:before {
  content: "\e746";
}

.icon-fullscreen-expand-filling:before {
  content: "\e747";
}

.icon-smile-filling:before {
  content: "\e748";
}

.icon-rise-filling:before {
  content: "\e749";
}

.icon-picture-filling:before {
  content: "\e74a";
}

.icon-notification-filling:before {
  content: "\e74e";
}

.icon-user-filling:before {
  content: "\e750";
}

.icon-setting-filling:before {
  content: "\e754";
}

.icon-task-filling:before {
  content: "\e75a";
}

.icon-success-filling:before {
  content: "\e75d";
}

.icon-warning-filling:before {
  content: "\e75e";
}

.icon-folder-filling:before {
  content: "\e75f";
}

.icon-map-filling:before {
  content: "\e762";
}

.icon-prompt-filling:before {
  content: "\e764";
}

.icon-meh-filling:before {
  content: "\e765";
}

.icon-cry-filling:before {
  content: "\e766";
}

.icon-top-filling:before {
  content: "\e767";
}

.icon-home-filling:before {
  content: "\e76a";
}

.icon-sorting:before {
  content: "\e76b";
}

.icon-add-circle:before {
  content: "\e667";
}

.icon-adjust:before {
  content: "\e669";
}

.icon-arrow-up-circle:before {
  content: "\e66f";
}

.icon-arrow-right-circle:before {
  content: "\e670";
}

.icon-arrow-down:before {
  content: "\e674";
}

.icon-ashbin:before {
  content: "\e679";
}

.icon-arrow-right:before {
  content: "\e67a";
}

.icon-bottom:before {
  content: "\e67b";
}

.icon-bad:before {
  content: "\e67c";
}

.icon-arrow-left-circle:before {
  content: "\e67d";
}

.icon-close:before {
  content: "\e67f";
}

.icon-check-item:before {
  content: "\e680";
}

.icon-calendar1:before {
  content: "\e681";
}

.icon-cry:before {
  content: "\e682";
}

.icon-direction-down:before {
  content: "\e685";
}

.icon-copy:before {
  content: "\e686";
}

.icon-data-view:before {
  content: "\e687";
}

.icon-direction-down-circle:before {
  content: "\e688";
}

.icon-direction-right:before {
  content: "\e68a";
}

.icon-direction-up:before {
  content: "\e68b";
}

.icon-direction-left:before {
  content: "\e68c";
}

.icon-download:before {
  content: "\e68d";
}

.icon-electronics:before {
  content: "\e68e";
}

.icon-email:before {
  content: "\e68f";
}

.icon-error:before {
  content: "\e692";
}

.icon-favorite:before {
  content: "\e694";
}

.icon-file-delete:before {
  content: "\e695";
}

.icon-file-add:before {
  content: "\e696";
}

.icon-file:before {
  content: "\e698";
}

.icon-folder-close:before {
  content: "\e6a1";
}

.icon-good:before {
  content: "\e6a2";
}

.icon-file-open:before {
  content: "\e6a3";
}

.icon-layout:before {
  content: "\e6a7";
}

.icon-layers:before {
  content: "\e6a8";
}

.icon-lock:before {
  content: "\e6a9";
}

.icon-help:before {
  content: "\e6ab";
}

.icon-notification1:before {
  content: "\e6b1";
}

.icon-operation:before {
  content: "\e6b5";
}

.icon-play:before {
  content: "\e6b6";
}

.icon-print:before {
  content: "\e6be";
}

.icon-picture:before {
  content: "\e6c0";
}

.icon-scanning:before {
  content: "\e6c4";
}

.icon-security:before {
  content: "\e6c6";
}

.icon-select:before {
  content: "\e6c8";
}

.icon-stop:before {
  content: "\e6cd";
}

.icon-success:before {
  content: "\e6ce";
}

.icon-setting:before {
  content: "\e6d1";
}

.icon-task:before {
  content: "\e6d2";
}

.icon-unlock:before {
  content: "\e6dd";
}

.icon-upload:before {
  content: "\e6df";
}

.icon-work:before {
  content: "\e6e6";
}

.icon-warning:before {
  content: "\e6e7";
}

.icon-zoom-in:before {
  content: "\e6ea";
}

.icon-zoom-out:before {
  content: "\e6eb";
}

.icon-add-bold:before {
  content: "\e6f3";
}

.icon-arrow-left-bold:before {
  content: "\e6fb";
}

.icon-arrow-up-bold:before {
  content: "\e6fc";
}

.icon-close-bold:before {
  content: "\e6fd";
}

.icon-arrow-down-bold:before {
  content: "\e701";
}

.icon-minus-bold:before {
  content: "\e703";
}

.icon-arrow-right-bold:before {
  content: "\e706";
}

.icon-select-bold:before {
  content: "\e70c";
}

.icon-arrow-up-filling:before {
  content: "\e70d";
}

.icon-arrow-down-filling:before {
  content: "\e710";
}

.icon-arrow-left-filling:before {
  content: "\e711";
}

.icon-arrow-right-filling:before {
  content: "\e723";
}

.icon-check-item-filling:before {
  content: "\e728";
}

.icon-clock-filling:before {
  content: "\e72d";
}

.icon-delete-filling:before {
  content: "\e72e";
}

.icon-decline-filling:before {
  content: "\e72f";
}

.icon-sponsor:before {
  content: "\e9d5";
}

.icon-upblock:before {
  content: "\e9d6";
}

.icon-weblock:before {
  content: "\e9d7";
}

.icon-weunblock:before {
  content: "\e9d8";
}

.icon-1111:before {
  content: "\e9d9";
}

.icon-my:before {
  content: "\e9da";
}

.icon-myfill:before {
  content: "\e9db";
}

.icon-chaping:before {
  content: "\e618";
}

.icon-emojifill:before {
  content: "\e9dc";
}

.icon-emojiflashfill:before {
  content: "\e9dd";
}

.icon-flashbuyfill-copy:before {
  content: "\e9de";
}

.icon-text:before {
  content: "\e9df";
}

.icon-goodsfavor:before {
  content: "\e9e0";
}

.icon-musicfill:before {
  content: "\e9e1";
}

.icon-musicforbidfill:before {
  content: "\e9e2";
}

.icon-zhongping:before {
  content: "\e625";
}

.icon-roundleftfill:before {
  content: "\e9e3";
}

.icon-triangledownfill:before {
  content: "\e9e4";
}

.icon-triangleupfill:before {
  content: "\e9e5";
}

.icon-roundleftfill-copy:before {
  content: "\e9e6";
}

.icon-xiangshang:before {
  content: "\e9e7";
}

.icon-xiangxia:before {
  content: "\e9e8";
}

.icon-emojilight:before {
  content: "\e9e9";
}

.icon-keyboardlight:before {
  content: "\e9ea";
}

.icon-recordfill:before {
  content: "\e9eb";
}

.icon-recordlight:before {
  content: "\e9ec";
}

.icon-record:before {
  content: "\e9ed";
}

.icon-roundaddlight:before {
  content: "\e9ee";
}

.icon-soundlight:before {
  content: "\e9ef";
}

.icon-formfill:before {
  content: "\e9f0";
}

.icon-coin:before {
  content: "\e9f1";
}

.icon-sortlight:before {
  content: "\e9f2";
}

.icon-zhongpin_fill:before {
  content: "\e693";
}

.icon-circlefill:before {
  content: "\e9f3";
}

.icon-circle:before {
  content: "\e9f4";
}

.icon-attentionforbid:before {
  content: "\e9f5";
}

.icon-attentionforbidfill:before {
  content: "\e9f6";
}

.icon-attentionfavorfill:before {
  content: "\e9f7";
}

.icon-attentionfavor:before {
  content: "\e9f8";
}

.icon-piclight:before {
  content: "\e9f9";
}

.icon-shoplight:before {
  content: "\e9fa";
}

.icon-voicelight:before {
  content: "\e9fb";
}

.icon-attentionfavorfill-copy:before {
  content: "\e9fc";
}

.icon-chaping_fill:before {
  content: "\e6c1";
}

.icon-full:before {
  content: "\e9fd";
}

.icon-appreciate:before {
  content: "\e644";
}

.icon-peoplelist:before {
  content: "\e9ff";
}

.icon-goodsnewfill:before {
  content: "\ea00";
}

.icon-goodsnew:before {
  content: "\ea01";
}

.icon-emoji:before {
  content: "\e64a";
}

.icon-medalfill:before {
  content: "\ea02";
}

.icon-favorfill:before {
  content: "\e64b";
}

.icon-medal:before {
  content: "\ea03";
}

.icon-favor:before {
  content: "\e64c";
}

.icon-newsfill:before {
  content: "\ea04";
}

.icon-loading:before {
  content: "\e64f";
}

.icon-newshotfill:before {
  content: "\ea05";
}

.icon-locationfill:before {
  content: "\e650";
}

.icon-newshot:before {
  content: "\ea06";
}

.icon-news:before {
  content: "\ea07";
}

.icon-videofill:before {
  content: "\ea08";
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-video:before {
  content: "\ea09";
}

.icon-roundcheck:before {
  content: "\e657";
}

.icon-askfill:before {
  content: "\ea0a";
}

.icon-roundclosefill:before {
  content: "\e658";
}

.icon-ask:before {
  content: "\ea0b";
}

.icon-roundclose:before {
  content: "\e659";
}

.icon-exit:before {
  content: "\ea0c";
}

.icon-roundrightfill:before {
  content: "\e65a";
}

.icon-skinfill:before {
  content: "\ea0d";
}

.icon-roundright:before {
  content: "\e65b";
}

.icon-moneybagfill:before {
  content: "\ea0f";
}

.icon-timefill:before {
  content: "\e65e";
}

.icon-usefullfill:before {
  content: "\ea10";
}

.icon-time:before {
  content: "\e65f";
}

.icon-usefull:before {
  content: "\ea11";
}

.icon-warnfill:before {
  content: "\e662";
}

.icon-moneybag:before {
  content: "\ea12";
}

.icon-warn:before {
  content: "\e663";
}

.icon-redpacket_fill:before {
  content: "\ea13";
}

.icon-camerafill:before {
  content: "\e664";
}

.icon-subscription:before {
  content: "\ea14";
}

.icon-home_light:before {
  content: "\ea15";
}

.icon-commentfill:before {
  content: "\e666";
}

.icon-my_light:before {
  content: "\ea16";
}

.icon-community_light:before {
  content: "\ea17";
}

.icon-likefill:before {
  content: "\e668";
}

.icon-cart_light:before {
  content: "\ea18";
}

.icon-we_light:before {
  content: "\ea19";
}

.icon-notificationfill:before {
  content: "\e66a";
}

.icon-home_fill_light:before {
  content: "\ea1a";
}

.icon-notification:before {
  content: "\e66b";
}

.icon-cart_fill_light:before {
  content: "\ea1b";
}

.icon-order:before {
  content: "\e66c";
}

.icon-community_fill_light:before {
  content: "\ea1c";
}

.icon-samefill:before {
  content: "\e66d";
}

.icon-my_fill_light:before {
  content: "\ea1d";
}

.icon-same:before {
  content: "\e66e";
}

.icon-we_fill_light:before {
  content: "\ea1e";
}

.icon-deliver:before {
  content: "\e671";
}

.icon-skin_light:before {
  content: "\ea1f";
}

.icon-evaluate:before {
  content: "\e672";
}

.icon-search_light:before {
  content: "\ea20";
}

.icon-pay:before {
  content: "\e673";
}

.icon-scan_light:before {
  content: "\ea21";
}

.icon-send:before {
  content: "\e675";
}

.icon-people_list_light:before {
  content: "\ea22";
}

.icon-shop:before {
  content: "\e676";
}

.icon-message_light:before {
  content: "\ea23";
}

.icon-ticket:before {
  content: "\e677";
}

.icon-close_light:before {
  content: "\ea24";
}

.icon-wang:before {
  content: "\e678";
}

.icon-add_light:before {
  content: "\ea25";
}

.icon-discover:before {
  content: "\e67e";
}

.icon-profile_light:before {
  content: "\ea26";
}

.icon-more:before {
  content: "\e684";
}

.icon-service_light:before {
  content: "\ea27";
}

.icon-scan:before {
  content: "\e689";
}

.icon-friend_add_light:before {
  content: "\ea28";
}

.icon-questionfill:before {
  content: "\e690";
}

.icon-edit_light:before {
  content: "\ea29";
}

.icon-question:before {
  content: "\e691";
}

.icon-camera_light:before {
  content: "\ea2a";
}

.icon-shopfill:before {
  content: "\e697";
}

.icon-hot_light:before {
  content: "\ea2b";
}

.icon-form:before {
  content: "\e699";
}

.icon-refresh_light:before {
  content: "\ea2c";
}

.icon-wangfill:before {
  content: "\e69a";
}

.icon-back_light:before {
  content: "\ea2d";
}

.icon-pic:before {
  content: "\e69b";
}

.icon-share_light:before {
  content: "\ea2e";
}

.icon-filter:before {
  content: "\e69c";
}

.icon-comment_light:before {
  content: "\ea2f";
}

.icon-footprint:before {
  content: "\e69d";
}

.icon-appreciate_light:before {
  content: "\ea30";
}

.icon-top:before {
  content: "\e69e";
}

.icon-favor_light:before {
  content: "\ea31";
}

.icon-pulldown:before {
  content: "\e69f";
}

.icon-appreciate_fill_light:before {
  content: "\ea32";
}

.icon-pullup:before {
  content: "\e6a0";
}

.icon-comment_fill_light:before {
  content: "\ea33";
}

.icon-wang_light:before {
  content: "\ea34";
}

.icon-refresh:before {
  content: "\e6a4";
}

.icon-more_android_light:before {
  content: "\ea35";
}

.icon-moreandroid:before {
  content: "\e6a5";
}

.icon-friend_light:before {
  content: "\ea36";
}

.icon-deletefill:before {
  content: "\e6a6";
}

.icon-more_light:before {
  content: "\ea37";
}

.icon-refund:before {
  content: "\e6ac";
}

.icon-goods_favor_light:before {
  content: "\ea38";
}

.icon-cart:before {
  content: "\e6af";
}

.icon-goods_new_fill_light:before {
  content: "\ea39";
}

.icon-goods_new_light:before {
  content: "\ea3a";
}

.icon-remind:before {
  content: "\e6b2";
}

.icon-goods_light:before {
  content: "\ea3b";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-medal_fill_light:before {
  content: "\ea3c";
}

.icon-profile:before {
  content: "\e6b7";
}

.icon-medal_light:before {
  content: "\ea3d";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-news_fill_light:before {
  content: "\ea3e";
}

.icon-cartfill:before {
  content: "\e6b9";
}

.icon-news_hot_fill_light:before {
  content: "\ea3f";
}

.icon-discoverfill:before {
  content: "\e6ba";
}

.icon-news_hot_light:before {
  content: "\ea40";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-news_light:before {
  content: "\ea41";
}

.icon-message:before {
  content: "\e6bc";
}

.icon-video_fill_light:before {
  content: "\ea42";
}

.icon-addressbook:before {
  content: "\e6bd";
}

.icon-message_fill_light:before {
  content: "\ea43";
}

.icon-link:before {
  content: "\e6bf";
}

.icon-form_light:before {
  content: "\ea44";
}

.icon-video_light:before {
  content: "\ea45";
}

.icon-search_list_light:before {
  content: "\ea46";
}

.icon-vip:before {
  content: "\e6c3";
}

.icon-form_fill_light:before {
  content: "\ea47";
}

.icon-global_light:before {
  content: "\ea48";
}

.icon-activity:before {
  content: "\e6c5";
}

.icon-global:before {
  content: "\ea49";
}

.icon-big:before {
  content: "\e6c7";
}

.icon-favor_fill_light:before {
  content: "\ea4a";
}

.icon-friendaddfill:before {
  content: "\e6c9";
}

.icon-delete_light:before {
  content: "\ea4b";
}

.icon-friendadd:before {
  content: "\e6ca";
}

.icon-back_android:before {
  content: "\ea4c";
}

.icon-friendfamous:before {
  content: "\e6cb";
}

.icon-back_android_light:before {
  content: "\ea4d";
}

.icon-friend:before {
  content: "\e6cc";
}

.icon-down_light:before {
  content: "\ea4e";
}

.icon-tmall:before {
  content: "\e6cf";
}

.icon-round_close_light:before {
  content: "\ea4f";
}

.icon-present:before {
  content: "\e6d3";
}

.icon-round_close_fill_light:before {
  content: "\ea50";
}

.icon-squarecheckfill:before {
  content: "\e6d4";
}

.icon-expressman:before {
  content: "\ea51";
}

.icon-square:before {
  content: "\e6d5";
}

.icon-punch_light:before {
  content: "\ea52";
}

.icon-squarecheck:before {
  content: "\e6d6";
}

.icon-furniture:before {
  content: "\ea53";
}

.icon-round:before {
  content: "\e6d7";
}

.icon-dress:before {
  content: "\ea54";
}

.icon-roundaddfill:before {
  content: "\e6d8";
}

.icon-coffee:before {
  content: "\ea55";
}

.icon-roundadd:before {
  content: "\e6d9";
}

.icon-sports:before {
  content: "\ea56";
}

.icon-add:before {
  content: "\e6da";
}

.icon-haoping_fill:before {
  content: "\e6ad";
}

.icon-notificationforbidfill:before {
  content: "\e6db";
}

.icon-haoping:before {
  content: "\e6ae";
}

.icon-group_light:before {
  content: "\ea57";
}

.icon-redpacket:before {
  content: "\e6e0";
}

.icon-location_light:before {
  content: "\ea58";
}

.icon-selectionfill:before {
  content: "\e6e1";
}

.icon-attention_light:before {
  content: "\ea59";
}

.icon-similar:before {
  content: "\e6e2";
}

.icon-group_fill_light:before {
  content: "\ea5a";
}

.icon-appreciatefill:before {
  content: "\e6e3";
}

.icon-group_fill:before {
  content: "\ea5b";
}

.icon-infofill:before {
  content: "\e6e4";
}

.icon-play_forward_fill:before {
  content: "\ea5c";
}

.icon-info:before {
  content: "\e6e5";
}

.icon-subscription_light:before {
  content: "\ea5d";
}

.icon-tao:before {
  content: "\e6e8";
}

.icon-deliver_fill:before {
  content: "\ea5e";
}

.icon-mobiletao:before {
  content: "\e6e9";
}

.icon-notice_forbid_fill:before {
  content: "\ea5f";
}

.icon-qr_code_light:before {
  content: "\ea60";
}

.icon-settings_light:before {
  content: "\ea61";
}

.icon-rechargefill:before {
  content: "\e6ec";
}

.icon-recharge:before {
  content: "\e6ed";
}

.icon-form_favor_light:before {
  content: "\ea63";
}

.icon-vipcard:before {
  content: "\e6ee";
}

.icon-round_comment_light:before {
  content: "\ea64";
}

.icon-voice:before {
  content: "\e6ef";
}

.icon-voicefill:before {
  content: "\e6f0";
}

.icon-round_down_light:before {
  content: "\ea66";
}

.icon-friendfavor:before {
  content: "\e6f1";
}

.icon-friend_settings_light:before {
  content: "\ea67";
}

.icon-wifi:before {
  content: "\e6f2";
}

.icon-change:before {
  content: "\ea68";
}

.icon-round_list_light:before {
  content: "\ea69";
}

.icon-wefill:before {
  content: "\e6f4";
}

.icon-ticket_fill:before {
  content: "\ea6a";
}

.icon-we:before {
  content: "\e6f5";
}

.icon-round_friend_fill:before {
  content: "\ea6b";
}

.icon-lightauto:before {
  content: "\e6f6";
}

.icon-round_crown_fill:before {
  content: "\ea6c";
}

.icon-lightforbid:before {
  content: "\e6f7";
}

.icon-round_link_fill:before {
  content: "\ea6d";
}

.icon-lightfill:before {
  content: "\e6f8";
}

.icon-round_light_fill:before {
  content: "\ea6e";
}

.icon-camerarotate:before {
  content: "\e6f9";
}

.icon-round_favor_fill:before {
  content: "\ea6f";
}

.icon-light:before {
  content: "\e6fa";
}

.icon-round_menu_fill:before {
  content: "\ea70";
}

.icon-searchlist:before {
  content: "\e6fe";
}

.icon-round_location_fill:before {
  content: "\ea71";
}

.icon-service:before {
  content: "\e6ff";
}

.icon-round_pay_fill:before {
  content: "\ea72";
}

.icon-sort:before {
  content: "\e700";
}

.icon-round_like_fill:before {
  content: "\ea73";
}

.icon-1212:before {
  content: "\e702";
}

.icon-round_people_fill:before {
  content: "\ea74";
}

.icon-mobile:before {
  content: "\e704";
}

.icon-round_rank_fill:before {
  content: "\ea76";
}

.icon-mobilefill:before {
  content: "\e705";
}

.icon-round_redpacket_fill:before {
  content: "\ea77";
}

.icon-round_skin_fill:before {
  content: "\ea78";
}

.icon-countdownfill:before {
  content: "\e707";
}

.icon-round_record_fill:before {
  content: "\ea79";
}

.icon-countdown:before {
  content: "\e708";
}

.icon-round_ticket_fill:before {
  content: "\ea7a";
}

.icon-noticefill:before {
  content: "\e709";
}

.icon-round_redpacket:before {
  content: "\ea7b";
}

.icon-notice:before {
  content: "\e70a";
}

.icon-round_text_fill:before {
  content: "\ea7c";
}

.icon-qiang:before {
  content: "\e70b";
}

.icon-round_ticket:before {
  content: "\ea7d";
}

.icon-upstagefill:before {
  content: "\e70e";
}

.icon-round_transfer_fill:before {
  content: "\ea7e";
}

.icon-upstage:before {
  content: "\e70f";
}

.icon-subtitle_block_light:before {
  content: "\ea7f";
}

.icon-warn_light:before {
  content: "\ea80";
}

.icon-round_transfer:before {
  content: "\ea81";
}

.icon-brandfill:before {
  content: "\e712";
}

.icon-vip_code_light:before {
  content: "\ea82";
}

.icon-brand:before {
  content: "\e713";
}

.icon-subtitle_unblock_light:before {
  content: "\ea83";
}

.icon-choicenessfill:before {
  content: "\e714";
}

.icon-round_shop_fill:before {
  content: "\ea84";
}

.icon-choiceness:before {
  content: "\e715";
}

.icon-oppose_fill_light:before {
  content: "\ea85";
}

.icon-clothesfill:before {
  content: "\e716";
}

.icon-oppose_light:before {
  content: "\ea86";
}

.icon-clothes:before {
  content: "\e717";
}

.icon-living:before {
  content: "\ea87";
}

.icon-creativefill:before {
  content: "\e718";
}

.icon-daohang:before {
  content: "\e600";
}

.icon-creative:before {
  content: "\e719";
}

.icon-goods_hot_fill:before {
  content: "\ea88";
}

.icon-female:before {
  content: "\e71a";
}

.icon-ticket_money_fill:before {
  content: "\ea89";
}

.icon-keyboard:before {
  content: "\e71b";
}

.icon-arrow_left_fill:before {
  content: "\ea8a";
}

.icon-male:before {
  content: "\e71c";
}

.icon-arrow_up_fill:before {
  content: "\ea8b";
}

.icon-newfill:before {
  content: "\e71d";
}

.icon-xiaoheiqun:before {
  content: "\ea8c";
}

.icon-new:before {
  content: "\e71e";
}

.icon-auction:before {
  content: "\ea8d";
}

.icon-pullleft:before {
  content: "\e71f";
}

.icon-pullright:before {
  content: "\e720";
}

.icon-rankfill:before {
  content: "\e721";
}

.icon-rank:before {
  content: "\e722";
}

.icon-cameraadd:before {
  content: "\e724";
}

.icon-focus:before {
  content: "\e725";
}

.icon-friendfill:before {
  content: "\e726";
}

.icon-cameraaddfill:before {
  content: "\e727";
}

.icon-apps:before {
  content: "\e729";
}

.icon-paintfill:before {
  content: "\e72a";
}

.icon-paint:before {
  content: "\e72b";
}

.icon-picfill:before {
  content: "\e72c";
}

.icon-markfill:before {
  content: "\e730";
}

.icon-mark:before {
  content: "\e731";
}

.icon-presentfill:before {
  content: "\e732";
}

.icon-repeal:before {
  content: "\e733";
}

.icon-album:before {
  content: "\e734";
}

.icon-peoplefill:before {
  content: "\e735";
}

.icon-people:before {
  content: "\e736";
}

.icon-servicefill:before {
  content: "\e737";
}

.icon-attentionfill:before {
  content: "\e73c";
}

.icon-attention:before {
  content: "\e73d";
}

.icon-commandfill:before {
  content: "\e73e";
}

.icon-command:before {
  content: "\e73f";
}

.icon-communityfill:before {
  content: "\e740";
}

.icon-community:before {
  content: "\e741";
}

.icon-cut:before {
  content: "\e74b";
}

.icon-magic:before {
  content: "\e74c";
}

.icon-backwardfill:before {
  content: "\e74d";
}

.icon-playfill:before {
  content: "\e74f";
}

.icon-tagfill:before {
  content: "\e751";
}

.icon-tag:before {
  content: "\e752";
}

.icon-group:before {
  content: "\e753";
}

.icon-all:before {
  content: "\e755";
}

.icon-backdelete:before {
  content: "\e756";
}

.icon-hotfill:before {
  content: "\e757";
}

.icon-hot:before {
  content: "\e758";
}

.icon-post:before {
  content: "\e759";
}

.icon-radiobox:before {
  content: "\e75b";
}

.icon-rounddown:before {
  content: "\e75c";
}

.icon-writefill:before {
  content: "\e760";
}

.icon-write:before {
  content: "\e761";
}

.icon-radioboxfill:before {
  content: "\e763";
}

.icon-move:before {
  content: "\e768";
}

.icon-safe:before {
  content: "\e769";
}

.icon-activityfill:before {
  content: "\e775";
}

.icon-crownfill:before {
  content: "\e776";
}

.icon-crown:before {
  content: "\e777";
}

.icon-goodsfill:before {
  content: "\e778";
}

.icon-messagefill:before {
  content: "\e779";
}

.icon-profilefill:before {
  content: "\e77a";
}

.icon-sound:before {
  content: "\e77b";
}

.icon-sponsorfill:before {
  content: "\e77c";
}

.icon-linechart:before {
  content: "\e7d1";
}

.icon-safetycertificate-f:before {
  content: "\e8d1";
}

.icon-Report:before {
  content: "\e9d1";
}

.icon-barchart:before {
  content: "\e7d2";
}

.icon-propertysafety-fill:before {
  content: "\e8d2";
}

.icon-insurance-fill:before {
  content: "\e8d3";
}

.icon-securityscan-fill:before {
  content: "\e8d4";
}

.icon-flag-fill:before {
  content: "\e8f5";
}

.icon-insurance:before {
  content: "\e7f6";
}

.icon-moneycollect-fill:before {
  content: "\e8f6";
}

.icon-alert:before {
  content: "\e7f7";
}

.icon-shopping-fill:before {
  content: "\e8f9";
}

.icon-skin-fill:before {
  content: "\e8fa";
}

.icon-bell:before {
  content: "\e7fc";
}

.icon-bulb-fill:before {
  content: "\e8fd";
}

.icon-bell-fill:before {
  content: "\e8fe";
}

.icon-skin:before {
  content: "\e800";
}

.icon-fire-fill:before {
  content: "\e900";
}

.icon-gift-fill:before {
  content: "\e902";
}

.icon-like:before {
  content: "\e805";
}

.icon-trophy-fill:before {
  content: "\e905";
}

.icon-unlike:before {
  content: "\e806";
}

.icon-location-fill:before {
  content: "\e906";
}

.icon-cloud-fill:before {
  content: "\e907";
}

.icon-customerservice-fill:before {
  content: "\e908";
}

.icon-customerservice:before {
  content: "\e809";
}

.icon-experiment-fill:before {
  content: "\e909";
}

.icon-flag:before {
  content: "\e80a";
}

.icon-eye-fill:before {
  content: "\e90a";
}

.icon-like-fill:before {
  content: "\e90b";
}

.icon-unlike-fill:before {
  content: "\e90d";
}

.icon-star-fill:before {
  content: "\e90e";
}

.icon-shopping:before {
  content: "\e80f";
}

.icon-folder:before {
  content: "\e810";
}

.icon-alert-fill:before {
  content: "\e910";
}

.icon-folder-open:before {
  content: "\e811";
}

.icon-folder-add:before {
  content: "\e812";
}

.icon-edit-fill:before {
  content: "\e914";
}

.icon-contacts:before {
  content: "\e815";
}

.icon-pushpin-fill:before {
  content: "\e915";
}

.icon-carryout:before {
  content: "\e816";
}

.icon-rocket-fill:before {
  content: "\e916";
}

.icon-calendar-check:before {
  content: "\e817";
}

.icon-thunderbolt-fill:before {
  content: "\e917";
}

.icon-calendar:before {
  content: "\e818";
}

.icon-wrench-fill:before {
  content: "\e919";
}

.icon-bank-fill:before {
  content: "\e91b";
}

.icon-camera-fill:before {
  content: "\e91c";
}

.icon-error-fill:before {
  content: "\e91d";
}

.icon-star:before {
  content: "\e839";
}

.icon-man:before {
  content: "\e845";
}

.icon-instagram:before {
  content: "\e945";
}

.icon-Youtube:before {
  content: "\e949";
}

.icon-Gitlab-fill:before {
  content: "\e94a";
}

.icon-dropbox:before {
  content: "\e94b";
}

.icon-dingtalk:before {
  content: "\e94c";
}

.icon-android-fill:before {
  content: "\e94d";
}

.icon-apple-fill:before {
  content: "\e94e";
}

.icon-HTML-fill:before {
  content: "\e94f";
}

.icon-windows-fill:before {
  content: "\e950";
}

.icon-QQ:before {
  content: "\e951";
}

.icon-twitter:before {
  content: "\e952";
}

.icon-skype-fill:before {
  content: "\e953";
}

.icon-weibo:before {
  content: "\e954";
}

.icon-yuque-fill:before {
  content: "\e955";
}

.icon-Youtube-fill:before {
  content: "\e956";
}

.icon-yahoo-fill:before {
  content: "\e957";
}

.icon-wechat-fill:before {
  content: "\e958";
}

.icon-chrome-fill:before {
  content: "\e959";
}

.icon-alipay-circle-fill:before {
  content: "\e95a";
}

.icon-aliwangwang-fill:before {
  content: "\e95b";
}

.icon-behance-circle-fill:before {
  content: "\e95c";
}

.icon-amazon-circle-fill:before {
  content: "\e95d";
}

.icon-codepen-circle-fill:before {
  content: "\e95e";
}

.icon-CodeSandbox-circle-f:before {
  content: "\e95f";
}

.icon-dropbox-circle-fill:before {
  content: "\e960";
}

.icon-github-fill:before {
  content: "\e961";
}

.icon-dribbble-circle-fill:before {
  content: "\e962";
}

.icon-googleplus-circle-f:before {
  content: "\e963";
}

.icon-medium-circle-fill:before {
  content: "\e964";
}

.icon-QQ-circle-fill:before {
  content: "\e965";
}

.icon-IE-circle-fill:before {
  content: "\e966";
}

.icon-google-circle-fill:before {
  content: "\e967";
}

.icon-dingtalk-circle-fill:before {
  content: "\e968";
}

.icon-sketch-circle-fill:before {
  content: "\e969";
}

.icon-slack-circle-fill:before {
  content: "\e96a";
}

.icon-twitter-circle-fill:before {
  content: "\e96b";
}

.icon-taobao-circle-fill:before {
  content: "\e96c";
}

.icon-weibo-circle-fill:before {
  content: "\e96d";
}

.icon-zhihu-circle-fill:before {
  content: "\e96e";
}

.icon-reddit-circle-fill:before {
  content: "\e96f";
}

.icon-alipay-square-fill:before {
  content: "\e970";
}

.icon-dingtalk-square-fill:before {
  content: "\e971";
}

.icon-CodeSandbox-square-f:before {
  content: "\e972";
}

.icon-behance-square-fill:before {
  content: "\e973";
}

.icon-amazon-square-fill:before {
  content: "\e974";
}

.icon-codepen-square-fill:before {
  content: "\e975";
}

.icon-dribbble-square-fill:before {
  content: "\e976";
}

.icon-dropbox-square-fill:before {
  content: "\e977";
}

.icon-facebook-fill:before {
  content: "\e978";
}

.icon-googleplus-square-f:before {
  content: "\e979";
}

.icon-bold:before {
  content: "\e87a";
}

.icon-google-square-fill:before {
  content: "\e97a";
}

.icon-font-colors:before {
  content: "\e87b";
}

.icon-instagram-fill:before {
  content: "\e97b";
}

.icon-exclaimination:before {
  content: "\e87c";
}

.icon-IE-square-fill:before {
  content: "\e97c";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-medium-square-fill:before {
  content: "\e97d";
}

.icon-CI:before {
  content: "\e77e";
}

.icon-infomation:before {
  content: "\e87e";
}

.icon-linkedin-fill:before {
  content: "\e97e";
}

.icon-Dollar:before {
  content: "\e77f";
}

.icon-QQ-square-fill:before {
  content: "\e97f";
}

.icon-compass:before {
  content: "\e780";
}

.icon-strikethrough:before {
  content: "\e880";
}

.icon-reddit-square-fill:before {
  content: "\e980";
}

.icon-close-circle:before {
  content: "\e781";
}

.icon-twitter-square-fill:before {
  content: "\e981";
}

.icon-frown:before {
  content: "\e782";
}

.icon-sketch-square-fill:before {
  content: "\e982";
}

.icon-info-circle:before {
  content: "\e783";
}

.icon-slack-square-fill:before {
  content: "\e983";
}

.icon-left-circle:before {
  content: "\e784";
}

.icon-taobao-square-fill:before {
  content: "\e984";
}

.icon-down-circle:before {
  content: "\e785";
}

.icon-weibo-square-fill:before {
  content: "\e985";
}

.icon-EURO:before {
  content: "\e786";
}

.icon-zhihu-square-fill:before {
  content: "\e986";
}

.icon-copyright:before {
  content: "\e787";
}

.icon-ellipsis:before {
  content: "\e887";
}

.icon-zoomout:before {
  content: "\e987";
}

.icon-minus-circle:before {
  content: "\e788";
}

.icon-meh:before {
  content: "\e789";
}

.icon-audio:before {
  content: "\e989";
}

.icon-plus-circle:before {
  content: "\e78a";
}

.icon-enter:before {
  content: "\e88a";
}

.icon-audio-fill:before {
  content: "\e98a";
}

.icon-play-circle:before {
  content: "\e78b";
}

.icon-question-circle:before {
  content: "\e78c";
}

.icon-zoomin:before {
  content: "\e98c";
}

.icon-Pound:before {
  content: "\e78d";
}

.icon-right-circle:before {
  content: "\e78e";
}

.icon-bug-fill:before {
  content: "\e98e";
}

.icon-smile:before {
  content: "\e78f";
}

.icon-bug:before {
  content: "\e98f";
}

.icon-audiostatic:before {
  content: "\e990";
}

.icon-time-circle:before {
  content: "\e791";
}

.icon-comment:before {
  content: "\e991";
}

.icon-signal-fill:before {
  content: "\e992";
}

.icon-earth:before {
  content: "\e793";
}

.icon-drag:before {
  content: "\e893";
}

.icon-verified:before {
  content: "\e993";
}

.icon-YUAN:before {
  content: "\e794";
}

.icon-up-circle:before {
  content: "\e795";
}

.icon-gift:before {
  content: "\e895";
}

.icon-warning-circle:before {
  content: "\e796";
}

.icon-sync:before {
  content: "\e797";
}

.icon-transaction:before {
  content: "\e798";
}

.icon-undo:before {
  content: "\e799";
}

.icon-check-circle-fill:before {
  content: "\e899";
}

.icon-caret-down:before {
  content: "\e999";
}

.icon-redo:before {
  content: "\e79a";
}

.icon-left-circle-fill:before {
  content: "\e89a";
}

.icon-backward:before {
  content: "\e99a";
}

.icon-reload:before {
  content: "\e79b";
}

.icon-down-circle-fill:before {
  content: "\e89b";
}

.icon-caret-up:before {
  content: "\e99b";
}

.icon-reloadtime:before {
  content: "\e79c";
}

.icon-minus-circle-fill:before {
  content: "\e89c";
}

.icon-caret-right:before {
  content: "\e99c";
}

.icon-close-circle-fill:before {
  content: "\e89d";
}

.icon-caret-left:before {
  content: "\e99d";
}

.icon-dashboard:before {
  content: "\e79e";
}

.icon-info-circle-fill:before {
  content: "\e89e";
}

.icon-fast-backward:before {
  content: "\e99e";
}

.icon-issuesclose:before {
  content: "\e79f";
}

.icon-up-circle-fill:before {
  content: "\e89f";
}

.icon-forward:before {
  content: "\e99f";
}

.icon-poweroff:before {
  content: "\e7a0";
}

.icon-right-circle-fill:before {
  content: "\e8a0";
}

.icon-fast-forward:before {
  content: "\e9a0";
}

.icon-plus-circle-fill:before {
  content: "\e8a1";
}

.icon-search:before {
  content: "\e9a1";
}

.icon-piechart:before {
  content: "\e7a2";
}

.icon-question-circle-fill:before {
  content: "\e8a2";
}

.icon-EURO-circle-fill:before {
  content: "\e8a3";
}

.icon-frown-fill:before {
  content: "\e8a4";
}

.icon-step-backward:before {
  content: "\e9a4";
}

.icon-location:before {
  content: "\e7a5";
}

.icon-copyright-circle-fil:before {
  content: "\e8a5";
}

.icon-step-forward:before {
  content: "\e9a5";
}

.icon-CI-circle-fill:before {
  content: "\e8a6";
}

.icon-compass-fill:before {
  content: "\e8a7";
}

.icon-Dollar-circle-fill:before {
  content: "\e8a8";
}

.icon-woman:before {
  content: "\e9a8";
}

.icon-meh-fill:before {
  content: "\e8aa";
}

.icon-eyeclose-fill:before {
  content: "\e9aa";
}

.icon-Pound-circle-fill:before {
  content: "\e8ac";
}

.icon-smile-fill:before {
  content: "\e8ad";
}

.icon-piechart-circle-fil:before {
  content: "\e8b4";
}

.icon-dashboard-fill:before {
  content: "\e8b5";
}

.icon-adduser:before {
  content: "\e7ca";
}

.icon-deleteteam:before {
  content: "\e7cb";
}

.icon-deleteuser:before {
  content: "\e7cc";
}

.icon-addteam:before {
  content: "\e7cd";
}

.icon-user:before {
  content: "\e7ce";
}

.icon-team:before {
  content: "\e7cf";
}

