.auction {
    .shipping-address {
        position: relative;
        padding: 15px;
        background-color: #fff;
        display: flex;

        &::after {
            background: repeating-linear-gradient(-45deg, #ff6c6c 0, #ff6c6c 20%, transparent 0, transparent 25%, #1989fa 0, #1989fa 45%, transparent 0, transparent 50%);
            background-size: 80px;
            position: absolute;
            content: " ";
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
        }

        .icon-wrapper {
            align-items: center;
            display: flex;
            margin-right: 5px;

            i {
                font-size: 20px;
            }
        }

        span {
            font-size: 14px;
        }

        p {
            font-size: 12px;
        }

        .btn-add-addr {
            padding: 20px;
            font-size: 16px;
            text-align: center;
        }
    }


    .buynow-goods-info {
        background-color: #fff;

        .title {
            font-size: 16px;
            padding: 10px 15px;
            line-height: 1;
        }

        .goods-item {
            display: flex;
            padding: 10px 15px;

            .image {
                width: 80px;
                height: 80px;
                margin-right: 10px;
                border-radius: 5px;
            }

            .data {
                flex: 1;
                display: flex;
                flex-direction: column;

                .goods-title {
                    font-size: 14px;
                    line-height: 1.3;
                }

                .goods-sku {
                    padding: 3px;
                    line-height: 1;
                    border-radius: 1px;
                    font-size: 12px;
                    color: #666;
                    margin-top: 5px;
                }

                .goods-price {
                    font-size: 18px;
                    color: #f40;
                    font-weight: 600;
                    flex: 1;
                }
            }
        }
    }

    .buynow-cell {
        display: flex;
        padding: 8px 15px;
        font-size: 14px;
        line-height: 1;

        .cell-title {
            margin-right: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .cell-value {
            color: #666;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .message {
            font-size: 14px;
            padding: 0;
            border: none;
            width: 100%;
            font-weight: 400;
        }
    }

    .settlement-info {
        background-color: #fff;
        padding: 5px 0;

        .amount {
            color: #f40;
        }
    }
}
