.news-detail {
    display: block;
    overflow: hidden;
    background-color: #fff;

    .head {
        background-color: #fff;
        padding: 20px 15px 10px;
        display: block;

        h1 {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.2;
            display: block;
            color: #333;
            margin-bottom: 10px;
            text-align: justify;
        }

        p {
            color: #888;
            font-size: 12px;
            display: block;
        }
    }

    .body {
        display: block;
        padding: 15px;
        background-color: #f8f8f8;

        .content {
            font-size: 18px;
            color: #333;
            line-height: 1.5;
            text-align: justify;
            display: block;
            overflow: hidden;

            * {
                max-width: 100%;
            }

            img {
                max-width: 100% !important;
                height: auto !important;
                margin-left: -2em;
            }

            p{
                display: block;
                margin-bottom: 15px !important;
                text-indent: 2em !important;
            }
        }

        .media-player {
            display: block;
            padding-top: 66%;
            position: relative;

            iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        .image-list {
            display: block;

            img {
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .download-app {
        display: block;
        text-align: center;
        padding: 10px;

        img {
            width: 150px;
            height: 150px;
            display: inline-block;
        }

        p {
            color: #666;
            font-size: 14px;
            text-align: center;
            display: block;
        }
    }

    .share {
        display: block;
        padding: 20px 0;

        .line {
            height: 0;
            display: block;
            clear: both;
            border-bottom: 1px #DDD solid;
            position: relative;
        }

        .text {
            position: absolute;
            height: 20px;
            width: 100px;
            text-align: center;
            background-color: #fff;
            display: block;
            left: 50%;
            top: -10px;
            margin-left: -50px;
            font-size: 12px;
            color: #777;
        }

        .item-list {
            display: flex;
            margin-top: 30px;

            li {
                flex: 1;
                text-align: center;

                .ico {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin: 0 auto 5px auto;
                }

                .title {
                    font-size: 14px;
                    color: #777;
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    .news-list {
        display: block;
        padding: 10px;

        li {
            display: flex;
            padding: 5px 0;

            .image {
                width: 100px;
                height: 80px;
                display: block;
                margin-right: 10px;
            }

            .content {
                flex: 1;
                height: 80px;
                display: flex;
                flex-direction: column;
                position: relative;

                h3 {
                    color: #000;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 500;
                }

                .time {
                    font-size: 14px;
                    color: #666;
                    flex: 1;
                }

                .views {
                    font-size: 14px;
                    color: #777;
                }
            }
        }
    }
}
