@import "../base";

body, html {
    font-size: 16px;
    background-color: #f2f2f2;
    max-width: 640px;
    margin: 0 auto;
}

.app {
    display: block;
    overflow: hidden;
}

.container {
    display: block;
}

.aboutus{
    display: block;
    padding: 15px;
    font-size: 15px;
    text-align: justify;
    overflow: hidden;
    background-color: #fff;

    *{
        max-width: 100% !important;
    }
}

.redpack{
    width: 246px;
    height: 340px;
    background-image: url("#{$image-path}/redpack.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
}

.cell-arrow-right{
    position: relative;
    &::after{
        position: absolute;
        content: " ";
        width: 12px;
        height: 12px;
        border-top: 1px #aaa solid;
        border-right: 1px #aaa solid;
        top: 50%;
        right: 5px;
        margin-top: -6px;
        transform: rotate(45deg);
        transform-origin: 0 0;
        z-index: 1;
    }
}

@import "goods";
@import "user";
@import "cart";
@import "buynow";
@import "order";
