@import "../base";

body, html {
    font-size: 16px;
    background-color: #f2f2f2;
    max-width: 640px;
    margin: 0 auto;
}

.app {
    display: block;
    overflow: hidden;
}

.container {
    display: block;
}

@import "goods";
@import "user";
@import "cart";
@import "buynow";
