@import "../base";
body,html{
    font-size: 16px;
    background-color: #f2f2f2;
}

.app{
    display: block;
    overflow: hidden;
}

.container{
    display: block;
}

.swiper-bg-image{
    display: block;
    width: 100%;
    height: 100%;
}

.global-menus{
    display: block;
    background-color: #fff;

    .wrapper{
        margin: -1px;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        padding: 10px 0;

        li{
            flex: 1;
            width: 25%;
            min-width: 25%;
            max-width: 25%;
            padding: 10px 0;

            .image{
                text-align: center;
                display: block;

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                }
            }

            .title{
                text-align: center;
                font-size: 14px;
                color: #222;
                display: block;
                margin-top: 3px;
            }
        }
    }
}

.banner{
    display: block;
}

.banner img{
    width: 100%;
    display: block;
}

.title-banner{
    display: block;
    height: 50px;
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-top: 5px;
    clear: both;
}

.chaozhi{
    display: flex;
    flex-direction: row;

    .item{
        width: 33.33%;
        margin: 0 5px;
        background-color: #fff;

        .image{
            padding-top: 100%;
            border-radius: 3px;
        }

        .title{
            font-size: 12px;
            font-weight: 300;
            padding:0 5px;
            line-height: 14px;
            height: 28px;
            overflow: hidden;
            margin: 5px 0;
        }

        .price{
            font-size: 14px;
            color: #f00;
            padding-bottom: 7px;
        }
    }
}

.post-detail {
    display: block;
    overflow: hidden;
    background-color: #f8f8f8;

    .head {
        background-color: #fff;
        padding: 20px 15px 10px;
        display: block;

        h1 {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.2;
            display: block;
            color: #333;
            margin-bottom: 10px;
            text-align: justify;
        }

        p {
            color: #888;
            font-size: 12px;
            display: block;
        }
    }

    .body {
        display: block;
        padding: 15px;
        background-color: #f8f8f8;

        .content {
            font-size: 18px;
            color: #333;
            line-height: 1.5;
            text-align: justify;

            * {
                max-width: 100%;
            }
        }

        .media {
            display: block;
            padding-top: 70%;
            position: relative;

            .iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        .image-list {
            display: block;

            img {
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .share {
        display: block;
        padding: 20px 0;

        .line {
            height: 0;
            display: block;
            clear: both;
            border-bottom: 1px #DDD solid;
            position: relative;
        }

        .text {
            position: absolute;
            height: 20px;
            width: 100px;
            text-align: center;
            background-color: #f8f8f8;
            display: block;
            left: 50%;
            top: -10px;
            margin-left: -50px;
            font-size: 12px;
            color: #777;
        }

        .item-list {
            display: flex;
            margin-top: 30px;

            li {
                flex: 1;
                text-align: center;

                .ico {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin: 0 auto 5px auto;
                }

                .title {
                    font-size: 14px;
                    color: #777;
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    .post-list {
        display: block;
        padding: 10px;

        li {
            display: flex;
            padding: 5px 0;

            .image {
                width: 100px;
                height: 80px;
                display: block;
                margin-right: 10px;
            }

            .content {
                flex: 1;
                height: 80px;
                display: block;
                position: relative;

                h3 {
                    color: #000;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 500;
                }

                .views {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 14px;
                    color: #777;
                }
            }
        }
    }

    .comment {
        display: block;
        overflow: hidden;
        background-color: #f8f8f8;

        .title {
            display: block;
            padding: 10px 15px;
            border-bottom: 1px #e7e7e7 solid;

            span {
                background-color: #FE4456;
                font-size: 12px;
                color: #fff;
                display: inline-block;
                padding: 3px 10px;
                border-radius: 5px;
            }
        }

        .listview {
            display: block;

            .item {
                display: flex;
                flex-flow: row nowrap;
                border-bottom: 1px #e7e7e7 solid;
                padding: 15px;
                width: 100%;

                .avatar {
                    width: 40px;
                    height: 40px;
                    display: block;
                    border-radius: 50%;
                    margin-right: 10px;
                    flex: 1;
                    min-width: 40px;
                    max-width: 40px;
                }

                .content {
                    flex: 1;
                    display: block;
                    position: relative;
                }

                .likes {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 13px;
                    color: #999;

                    span {
                        margin-right: 4px;
                        font-size: 14px;
                    }

                    i {
                        font-size: 13px;
                        font-style: normal;
                    }
                }

                .username {
                    font-size: 14px;
                    color: #777;
                    display: block;
                    line-height: 1.0;
                }

                .location {
                    font-size: 12px;
                    color: #999;
                    padding: 3px 0;

                    span {
                        margin-right: 5px;
                    }
                }

                .message {
                    font-size: 16px;
                    color: #333;
                    line-height: 1.3;
                    text-align: justify;
                }
            }

            .title {
                background-color: #e2e2e2;
                font-size: 14px;
                padding: 0 5px;
                height: 28px;
                line-height: 28px;
                display: block;
                overflow: hidden;
                color: #666;
                margin-top: 5px;
                border-radius: 2px;
            }

            .nocomment {
                display: block;
                padding: 100px 0;

                .icon {
                    background-image: url("#{$image-path}/app/soufa.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100% 100%;
                    width: 80px;
                    height: 80px;
                    display: block;
                    margin: 0 auto;
                }

                p {
                    color: #9999;
                    font-size: 16px;
                    text-align: center;
                    padding-top: 5px;
                }
            }
        }
    }
}

.pages-detail{
    display: block;
    background-color: #fff;
    padding: 15px;

    .content{
        font-size: 18px;
        font-weight: 300;
        color: #222;

        *,img{
            max-width: 100%;
        }
    }
}
