@import "../base";
@import "../front-common";

.area {
    width: 996px;
    display: block;
    margin: 0 auto;
    clear: both;
}

.header {
    display: block;

    .top {
        background-color: #F7F7F7;
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        border-bottom: 1px #CCC solid;
        font-size: 12px;
    }

    .banner {
        display: block;
        padding: 20px 0;
    }

    .global-logo {
        height: 60px;
        float: left;
        width: 240px;

        img {
            height: 60px;
            width: auto;
            display: block;
        }
    }
}

.order-stepbar {
    background-color: #CCC;
    border-radius: 3px;
    height: 26px;
    line-height: 26px;
    float: right;
    overflow: hidden;
    margin-top: 20px;

    li {
        float: left;
        width: 150px;
        border-left: 2px #FFF solid;
        margin-left: -2px;
        font-size: 13px;

        span {
            display: block;
            padding: 0 20px;
        }
    }

    li.cur {
        background-color: #FF0000;
        color: #fff;
    }
}

.order-address-wrap {
    display: block;

    .confirm-address {
        display: block;
        border-bottom: 2px #F1F1F1 solid;
        padding: 5px 0;

        .manage-address {
            float: right;
            font-size: 12px;
            font-weight: normal;
        }
    }

    .address-list {
        display: block;
        padding: 15px 0;

        li {
            height: 25px;
            line-height: 25px;
            font-size: 12px;
            margin-bottom: 5px;
        }

        li:hover {
            background-color: #F1F1F1;

            .edit-address {
                display: block;
            }
        }

        .edit-address {
            float: right;
            color: #00aaee;
            display: none;
        }
    }
}

.order-th-title {
    font-size: 12px;
    padding: 10px 0;
}

.order-th-table {
}

.order-th-table th {
    font-weight: normal;
    font-size: 12px;
    border-bottom: 3px #B1D0FF solid;
    padding: 10px 0;
    text-align: center;
}

.order-item-table {
    clear: both;
}

.order-item-table th, .order-item-table td {
    font-weight: normal;
    font-size: 12px;
    padding: 10px 0;
}

.order-item-table thead th {
    text-align: left;
    border-bottom: 1px #DDEAFF dotted;
}

.order-item-table .info-img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.order-item-table .info-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.order-item-table .info-detail {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.order-item-table .info-detail .item-name {
    font-size: 14px;
    line-height: 1.2;
}

.order-item-table .info-detail .item-attr {
    color: #999;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.order-item-table .cell-price {
    text-align: center;
    font-size: 12px;
}

.order-item-table .cell-num {
    text-align: center;
}

.order-item-table .cell-num .quantity-inner {
    display: block;
    text-align: center;
}

.order-item-table .cell-num .quantity-inner .act {
    width: 24px;
    height: 24px;
    border: 1px #DDD solid;
    margin: 0;
    background-color: #f0f0f0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    float: left;
}

.order-item-table .cell-num .quantity-inner .text {
    background-color: #fff;
    height: 24px;
    width: 40px;
    text-align: center;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    border-style: solid none;
    border-color: #DDD;
    border-width: 1px;
    float: left;
}

.order-item-table .cell-simple-total {
    color: #FF0000;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}

.order-ext-wrap {
    background-color: #F2F7FF;
    padding: 15px 0;
}

.order-ext {
    display: block;
    padding: 5px 0;
}

.order-ext .ext-name {
    width: 80px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.order-ext .ext-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.order-ext .textarea {
    width: 500px;
    height: 60px;
}

.order-ext .total-fee {
    font-size: 16px;
    font-weight: 600;
    color: #FF0000;
}

.order-ext .shop-total {
    float: right;
    font-size: 14px;
    margin: 10px 20px 0 0;
}

.order-ext label {
    font-weight: normal;
}

.submit-order {
    display: block;
    text-align: right;
    padding: 10px 0;
}

.submit-order .btn-submit {
    width: 120px;
    background-color: #f00;
    border-color: #f00;
    color: #fff;
    font-size: 16px;
}

.pay-order-info {
    display: block;
    margin: 30px 0;
}

.pay-order-info .item-info {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

.pay-order-info .item-info .order-field {
    color: #777;
    width: 60px;
    display: inline-block;
}

.pay-order-info .item-info .order-info {
    color: #333;
    display: inline-block;
}

.pay-type-choose {
    display: block;
    margin: 30px 0;
}

.pay-type-choose .pay-type-div {
    display: block;
    margin-bottom: 30px;
}

.pay-type-choose .pay-type-div .type-radio-box {
    width: 120px;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
}

.pay-type-choose .pay-type-div .type-info {
    display: inline-block;
    vertical-align: top;
}

.pay-type-choose .pay-type-div .type-info p {
    display: block;
    padding: 0 0 10px;
}

.pay-type-choose .pay-type-div .pay-channel {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.pay-type-choose .pay-type-div .pay-channel dt {
    height: 36px;
    line-height: 36px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.pay-type-choose .pay-type-div .pay-channel dd {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    vertical-align: top;
    border: 1px #DDD solid;
    width: 120px;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
}

.pay-type-choose .pay-type-div .pay-channel dd .pay-icon {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    line-height: 1;
}

.pay-type-choose .pay-type-div .pay-channel dd .pay-icon-alipay {
    background-image: url("#{$image-path}/common/alipay.png");
}

.pay-type-choose .pay-type-div .pay-channel dd .pay-icon-wxpay {
    background-image: url("#{$image-path}/common/wxpay.png");
}

.pay-type-choose .pay-type-div .pay-channel dd .pay-name {
    vertical-align: middle;
    margin-top: -2px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

.pay-type-choose .pay-type-div .confirm-pay-button {
    height: 40px;
    width: 200px;
    background-color: #FE7114;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.pay-qrcode {
    display: block;
    padding: 0;
}

.pay-qrcode .qrcode {
    width: 220px;
    height: 220px;
    display: block;
    margin: 0 auto;
}

.pay-qrcode .tips {
    padding: 7px 0;
    text-align: center;
    font-size: 14px;
}

.pay-result {
    display: block;
    padding: 120px 0;
    min-height: 400px;
}

.pay-result .inner {
    width: 360px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.pay-result .inner h2 {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.pay-result .inner .order-no {
    margin-right: 30px;
}

.pay-result .inner .amount {
}

.pay-result .inner .amount i {
    color: #f40;
    font-style: normal;
}

.pay-result .inner .links {
    display: block;
    margin-top: 15px;
}

.pay-result .inner .links a {
    color: #00aaee;
}

.pay-result .inner .links a:hover {
    text-decoration: underline;
}

.pay-result .inner .iconfont {
    position: absolute;
    top: 0;
    left: -75px;
    font-size: 50px;
    color: #55a532;
}

.pay-result .inner .icon-roundclose {
    color: #ff0000;
}

.pay-types {
    display: block;
    margin: 20px 0;
}

.pay-types .pay-type {
    float: left;
    margin-right: 10px;
    display: inline-block;
    border: 1px #ddd solid;
    padding: 7px;
    cursor: pointer;
}

.pay-types .pay-type .icon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.pay-types .pay-type span {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}
